{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block list_title -%}
    {{ 'agency.list.title'|trans({}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
        -
        <a href="{{ path('tisseo_boa_agency_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'agency.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-2">{{ 'agency.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-sm-3">{{ 'agency.list.columns.url'|trans({}, 'default') }}</th>
    <th class="col-sm-2">{{ 'agency.list.columns.timezone'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'agency.list.columns.lang'|trans({}, 'default') }}</th>
    <th class="col-sm-2">{{ 'agency.list.columns.phone'|trans({}, 'default') }}</th>
    <th class="col-sm-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for agency in agencies %}
        <tr>
            <td>{{ agency.name }}</td>
            <td>{{ agency.url }}</td>
            <td>{{ agency.timezone }}</td>
            <td>{{ agency.lang }}</td>
            <td>{{ agency.phone }}</td>
            <td>
            {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
                <a class="btn btn-default" href="{{ path('tisseo_boa_agency_edit', {'agencyId': agency.id}) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
