{% extends "TisseoBoaBundle::datatable_list.html.twig" %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{'agency.list.title'|trans({}, 'default')}}
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
	-
	<a href="{{ path('tisseo_boa_agency_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
		<span class="glyphicon glyphicon-plus"></span> {{'agency.create'|trans({}, 'default')}}
	</a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th>{{'agency.list.columns.name'|trans({}, 'default')}}</th>
    <th>{{'agency.list.columns.url'|trans({}, 'default')}}</th>
    <th>{{'agency.list.columns.timezone'|trans({}, 'default')}}</th>
    <th>{{'agency.list.columns.lang'|trans({}, 'default')}}</th>
    <th>{{'agency.list.columns.phone'|trans({}, 'default')}}</th>
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
	    <th class="no-sort">{{'global.actions'|trans({}, 'messages')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
    {% if agencies|length == 0 %}
        {% set nbCol = is_granted('BUSINESS_MANAGE_CONFIGURATION') ? 6 : 5 %}
        <tr>
            <td colspan="{{ nbCol }}"> {{'global.no_items'|trans}} </td>
        </tr>
    {% else %}
        {% for agency in agencies %}
            <tr>
                <td> {{ agency.name }} </td>
                <td> {{ agency.url }} </td>
                <td> {{ agency.timezone }} </td>
                <td> {{ agency.lang }} </td>
                <td> {{ agency.phone }} </td>
                {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
                <td>
					<a class="btn btn-default" href="{{ path('tisseo_boa_agency_edit', {'AgencyId': agency.id}) }}" data-toggle="modal" data-target="#base-modal">
						<span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
					</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
