{% extends "TisseoCoreBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/tisseoboa/css/main.css'
                   filter='cssrewrite' output='css/boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {{ parent() }}
    {% include 'TisseoBoaBundle::config.js.html.twig' %}
{% endblock %}

{% block title %}
{{ parent() }}
- {{ 'tisseo.boa.application'|trans }}
    {% if pageTitle %}
        -
        {% if titleParameters %}
            {{ pageTitle|trans(titleParameters) }}
        {% else %}
            {{ pageTitle|trans }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navbar_brand %}
    <a href="{{ path('tisseo_boa_homepage') }}">{{ 'tisseo.boa.application'|trans }}</a>
{% endblock %}

{% block root_breadcrumb %}
    <ol class="breadcrumb">
        <li>
        {% block breadcrumb %}
            {% if navTitle %}{{ navTitle|trans }}{% endif %}
        {% endblock %}
        </li>
    </ol>
{% endblock %}
