{% extends no_left_menu == true ? "TisseoBoaBundle::container.html.twig" : "TisseoBoaBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/tisseoboa/css/jquery.dataTables.min.css'
                   filter='cssrewrite' output='css/datatables_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}

    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
    filter='cssrewrite' output='css/stop_boa.css' %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}

{% endblock %}


{% block main_content -%}
    <h1>{% block list_title -%}{% endblock %}</h1>
    {% block line_comment -%}{% endblock %}
    {% block list_menu -%}{% endblock %}
    <table id="datatable" class="table {% block table_classes -%}table-hover{% endblock %}">
        <thead>
            <tr>
               {% block table_head -%}{% endblock %}
            </tr>
        </thead>
        <tbody>
        {% block table_body -%}

        {% endblock %}
        </tbody>
    </table>
    {% block list_pagination -%}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}




{% endblock %}
