{% macro stop_select(stops, select_id, select_class, all_label, all_value, select_name) %}
    <select id='{{ select_id }}' name='{{ select_name }}' class='{{ select_class }}'>
        <option value='{{ all_value }}'>{{ all_label }}</option>
    {% for stop in stops %}
        {% if stop.masterStop is empty %}
        <option value='{{ stop.id }}'>{{ stop.StopLabel }}</option>
        {% endif %}
    {% endfor %}
    </select>
{% endmacro %}

{% macro route_header(route) %}
    {{ 'tisseo.boa.datasource.label.agency'|trans }} :
    {% for datasource in route.lineVersion.line.lineDatasources %}
        {{ datasource.datasource.agency.name }} -
    {% endfor %}
    {{ 'tisseo.boa.line.label.number'|trans }} :
    {{ route.lineVersion.line.number }} -
    {{ 'tisseo.boa.line_version.label.version'|trans }} :
    {{ route.lineVersion.version }} -
    {{ 'tisseo.boa.route.label.name'|trans }} :
    {{ route.name }} ({{ route.way }})
{% endmacro %}

{% macro tableTrip(trips) %}
    <table class="table datatable table-hover">
        <thead>
            <th>{{ 'trip_calendar.trip.columns.name'|trans }}</th>
            <th>{{ 'trip_calendar.trip.columns.start'|trans }}</th>
            <th>{{ 'trip_calendar.trip.columns.service_type'|trans }}</th>
            <th>{{ 'trip_calendar.trip.columns.route'|trans }}</th>
            <th>{{ 'trip_calendar.trip.columns.start_end'|trans }}</th>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>
                    <a href="{{ path('tisseo_boa_trip_edit', {'tripId': trip.id}) }}">
                    {{ trip.name }}
                    </a>
                </td>
                <td>
                {% if trip.stopTimes %}
                    {{ _self.time_format(trip.stopTimes.first.arrivalTime) }}
                {% endif %}
                </td>
                <td>
                {% if trip.pattern %}
                    {{ trip.pattern.name }}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('tisseo_boa_route_edit', {'routeId': trip.route.id}) }}">
                    {{ trip.route.name }}
                    </a>
                </td>
                <td>
                {{ trip.route.routeStops.first.waypoint.stop.stopArea.nameLabel }}
                /
                {{ trip.route.routeStops.last.waypoint.stop.stopArea.nameLabel }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
