{% macro line_number(object, type, size) %}
       {% if type == 'lineVersion' %}

           {% if object.line.number is defined %}
               {% if size == 'small' %}
             <div class="line-number line-small" style="color:{{ object.fgColor.html }}; background-color:{{ object.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
                     {% elseif size == 'big' %}
           <div class="line-number line-big" style="color:{{ object.fgColor.html }}; background-color:{{ object.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
               {% endif %}
               <span style="font-size: 15px;">{{ object.line.number }}</span>
          </div>
          {% endif %}
      {% elseif type == 'line' %}
          {% if object.LastLineVersion is defined %}
              {% set lineVersion = object.LastLineVersion %}
              {% if size == 'small' %}
             <div class="line-number line-small" style="color:{{ lineVersion.fgColor.html }}; background-color:{{ lineVersion.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
                     {% elseif size == 'big' %}
          <div class="line-number line-big" style="color:{{ lineVersion.fgColor.html }}; background-color:{{ lineVersion.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
              {% endif %}
              <span>{{ object.number }}</span>
          </div>
          {% endif %}
      {% endif %}
{% endmacro %}


 {% macro stop_point(name) %}
     {% if name == "add" %}
     <div class="col-md-12">

         <br>
         <div class = "row" id="newStop">
             <div class = "col-md-4">
                 <input type="hidden" id="stop_id">
                 <input type="text" id="stop_search"  class="form-control" data-url="{{ path('tisseo_boa_json_stop') }}">
             </div>

             <div class = "col-md-1">
                 <input type="checkbox" name="desc" id="descStop">
                 <input type="checkbox" name="asc" id="upStop">
             </div>

             <div class = "col-md-1" id="submitStop">
                 <div class="btn btn-primary" id="add_rs">
                     <span class="glyphicon glyphicon-plus">Ajouter</span>
                 </div>
             </div>

         </div>
     </div>
     {% endif %}
 {% endmacro %}

{% macro color_display(object) %}
	{% if object.name is defined %}
		<div  class="line-number line-small" style="width:60px; height:20px;border: 1px solid black;color:{{ object.html }}; background-color:{{ object.html }}">
		</div>
	{% endif %}
{% endmacro %}

{% macro stop_select(stops, select_id, select_class, all_label, all_value, select_name) %}
	<select id='{{ select_id }}' name='{{ select_name }}' class='{{ select_class }}'>
		<option value='{{ all_value }}'>{{ all_label }}</option>
	{%  for Stop in stops %}
		{%  if Stop.masterStop is empty %}
		<option value='{{ Stop.id }}'>{{ Stop.getStopLabel }}</option>
		{%  endif %}
	{%  endfor %}
	</select>
{% endmacro %}

