{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set margin = '10' %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}
{% set hasCalendars = (trip.dayCalendar and trip.periodCalendar) %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_line_version_list') }}">
        {{ 'tisseo.boa.line_version.title.list'|trans }}
    </a>
    /
    <a href="{{ path('tisseo_boa_route_list', { 'lineVersionId': trip.route.lineVersion.id }) }}">
        {{ 'tisseo.boa.route.title.list'|trans({ '%number%': trip.route.lineVersion.line.number, '%version%': trip.route.lineVersion.version }) }}
    </a>
    /
    <a href="{{ path('tisseo_boa_trip_list', { 'routeId': trip.route.id }) }}">
        {{ 'tisseo.boa.trip.title.list'|trans }}
    </a>
{% endblock %}

{% block content %}
    <a id="trip" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.header.trip'|trans }}
    </a>
    <div class="col-md-12 panel">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="{% if hasCalendars %}col-md-8{% else %}col-md-12{% endif %}">
            <div class="row">
                <div class="col-md-5">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.pattern) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    {{ form_row(form.dayCalendar) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.periodCalendar) }}
                </div>
            </div>

            {% for datasource in form.tripDatasources %}
            <div class="row">
                <div class="col-md-5">
                    {{ form_row(datasource.datasource) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(datasource.code) }}
                </div>
            </div>
            {% endfor %}
        </div>

        {% if hasCalendars %}
        <div class="col-md-4">
            <div
                id="calendar-view"
                data-start-date="{{ trip.periodCalendar.computedStartDate|date('Y-m-d') }}"
                data-day-calendar-id="{{ trip.dayCalendar.id }}"
                data-period-calendar-id="{{ trip.periodCalendar.id }}"
                data-url="{{ path('tisseo_boa_calendar_intersection') }}"
            ></div>
        </div>
        {% endif %}

        <div class="col-md-12 row">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <a id="stop-times" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.header.stop_time'|trans }}
    </a>
    <div class="col-md-12 panel">
        <table class="table table-hover datatable">
            <thead>
                <th>{{ 'tisseo.boa.stop_time.label.rank'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.city'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.name'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.code'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.pick_up'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.drop_off'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.scheduled'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.schedule'|trans }}</th>
                {% if trip.route.way == constant('WAY_AREA', trip.route) %}
                    <th>{{ 'tisseo.boa.stop_time.label.tad_time'|trans }}</th>
                {% endif %}
            </thead>
            <tbody>
            {% for stopTime in trip.stopTimes %}
                <tr>
                    <td>{{ stopTime.routeStop.rank }}</td>
                    <td>
                        {% if not stopTime.routeStop.isOdtAreaRouteStop %}
                            <a target="_blank" href="{{ path('tisseo_boa_city_edit', {'cityId': stopTime.routeStop.waypoint.stop.stopArea.city.id}) }}">
                                {{ stopTime.routeStop.waypoint.stop.stopArea.city.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if stopTime.routeStop.isOdtAreaRouteStop %}
                            <a target="_blank" href="{{ path('tisseo_boa_odt_area_edit', {'odtAreaId': stopTime.routeStop.waypoint.odtArea.id}) }}">
                                {{ stopTime.routeStop.waypoint.odtArea.name }}
                            </a>
                        {% else %}
                            <a target="_blank" href="{{ path('tisseo_boa_stop_area_edit', {'stopAreaId': stopTime.routeStop.waypoint.stop.stopArea.id}) }}">
                                {{ stopTime.routeStop.waypoint.stop.stopArea.shortName }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if stopTime.routeStop.isOdtAreaRouteStop %}
                            {{ 'tisseo.boa.route_stop.label.zone'|trans }}
                        {% else %}
                            {% set stop = stopTime.routeStop.waypoint.stop %}
                            {% set stopId = ((stop.masterStop is empty) ? stop.id : stop.masterStop.id) %}
                            {% for datasource in stop.stopDatasources %}
                                <a target="_blank" href="{{ path('tisseo_boa_stop_edit', {'stopId': stopId}) }}">
                                    {{ datasource.code }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td><input type='checkbox' class="pickup" name="pickup" {% if stopTime.routeStop.pickup %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td><input type='checkbox' class="dropOff" name="dropOff" {% if stopTime.routeStop.dropOff %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td><input type='checkbox' class="scheduledStop" name="scheduledStop" {% if stopTime.routeStop.scheduledStop %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td>{{ stopTime.departureTime|date('H:i', false) }}</td>
                    {% if trip.route.way == constant('WAY_AREA', trip.route) %}
                        {% if stopTime.routeStop.isOdtAreaRouteStop %}
                        <td>{{ (stopTime.arrivalTime - stopTime.departureTime)|date('H:i', false) }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if hasCalendars %}
    <script>
        global = {
            locale: 'fr'
        };
        require(['boa/trip/edit']);
    </script>
    {% endif %}
{% endblock %}
