{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set margin = '10' %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_line_version_list') }}">
        {{ 'tisseo.boa.line_version.title.list'|trans }}
    </a>
    /
    <a href="{{ path('tisseo_boa_route_list', { 'lineVersionId': trip.route.lineVersion.id }) }}">
        {{ 'tisseo.boa.route.title.list'|trans({ '%number%': trip.route.lineVersion.line.number, '%version%': trip.route.lineVersion.version }) }}
    </a>
    /
    <a href="{{ path('tisseo_boa_trip_list', { 'routeId': trip.route.id }) }}">
        {{ 'tisseo.boa.trip.title.list'|trans }}
    </a>
{% endblock %}

{% block content %}
    <a id="trip" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.header.trip'|trans }}
    </a>
    <div class="col-md-12 panel">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.pattern) }}
            </div>
        </div>

        {% for datasource in form.tripDatasources %}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(datasource.datasource) }}
            </div>
            <div class="col-md-3">
                {{ form_row(datasource.code) }}
            </div>
        </div>
        {% endfor %}
    
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.dayCalendar) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.periodCalendar) }}
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
 
    <a id="calendar" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.header.calendar'|trans }}
    </a>
    <div id="calendar-panel" class="col-md-12 panel">
        <div class="row">
            <div class="col-md-2 input-range">
                <input type="text" id='start-date' name="start-date" class="form-control">
            </div>
            <div class="col-md-2 input-range">
                <input type="text" id='end-date'  name="end-date" class="form-control">
            </div>
            <div class="col-md-2">
                <button type="button" id='refresh-button' class="calendar-button btn btn-default" data-url="{{ path('tisseo_boa_json_service_calendar_bitmask') }}">
                    <span class="glyphicon glyphicon-refresh"></span> {{ 'tisseo.global.refresh'|trans }}
                </button>
            </div>
        </div>
        <div id='calendar-view'>
        </div>
    </div>
   
    <a id="stop-times" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.header.stop_time'|trans }}
    </a>
    <div class="col-md-12 panel">
        <table class="table table-hover datatable">
            <thead>
                <th>{{ 'tisseo.boa.stop_time.label.rank'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.city'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.name'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.code'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.pick_up'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.drop_off'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.scheduled'|trans }}</th>
                <th>{{ 'tisseo.boa.stop_time.label.schedule'|trans }}</th>
            </thead>
            <tbody>
            {% for stopTime in trip.stopTimes %}
                <tr>
                    <td>{{ stopTime.routeStop.rank }}</td>
                    <td>{{ stopTime.routeStop.waypoint.stop.stopArea.city.name }}</td>
                    <td>{{ stopTime.routeStop.waypoint.stop.stopArea.shortName }}</td>
                    <td>
                        {% for datasource in stopTime.routeStop.waypoint.stop.stopDatasources %}
                            {{ datasource.code }} 
                        {% endfor %}
                    </td>
                    <td><input type='checkbox' class="pickup" name="pickup" {% if stopTime.routeStop.pickup %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td><input type='checkbox' class="dropOff" name="dropOff" {% if stopTime.routeStop.dropOff %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td><input type='checkbox' class="scheduledStop" name="scheduledStop" {% if stopTime.routeStop.scheduledStop %}checked="checked"{% endif %} disabled="disabled"></td>
                    <td>{{ stopTime.arrivalTime|date('H:i', false) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function() {
            $(document).ready(function() {
                $('#calendar-panel .input-range input').datepicker({
                    language: '{{ app.request.locale }}',
                    todayHighlight: true,
                    autoclose: true,
                });

                $('#calendar-panel input#start-date').datepicker("update", "{{ startDate|date('d/m/Y') }}");
                $('#calendar-panel input#end-date').datepicker("update", "{{ endDate|date('d/m/Y') }}");
            });
        });
    </script>
{% endblock %}
