<div id="trip-patterns-list" class="panel col-md-12">
    <input type="hidden" id="route-id" value="{{ route.id }}"></input>
    <table id="table-trip-patterns" class="table table-hover">
        <thead>
            <th class="col-md-0.5">{{ 'tisseo.boa.route_stop.label.rank'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.stop'|trans }}</th>
            <th class="col-md-1.5"></th>
            {% set granted = is_granted('BUSINESS_MANAGE_ROUTES') %}
            {% for pattern in route.TripsPattern %}
            <th id="{{ loop.index }}" class="col-md-1 text-center pattern-column name {{ loop.index }}">
                <input type="text" class="pattern-name input-sm form-control" value="{{ pattern.name }}"{% if not granted %} disabled{% endif %}>
                <input type="hidden" class="pattern-id" value="{{ pattern.id }}">
            </th>
            {% endfor %}
            <th class="col-md-1 text-center add-pattern name"></th>
            <th class="container col-md-{{ 12 - route.TripsPattern|length - 5 }}"></th>
        </thead>
        <thead>
            <th></th>
            <th></th>
            <th></th>
            {% for pattern in route.TripsPattern %}
                {% if route.IsPatternLocked(pattern) %}
                <th id="{{ loop.index }}" class="text-center {{ loop.index }}"></th>
                {% elseif granted %}
                <th id="{{ loop.index }}" class="text-center {{ loop.index }}">
                    <button title="{{ 'tisseo.global.delete'|trans }}" class="btn btn-xs btn-danger small-button delete-pattern"><span class="glyphicon glyphicon-minus"></span></button>
                    <button title="{{ 'tisseo.global.duplicate'|trans }}" class="btn btn-xs btn-info small-button duplicate-pattern"><span class="glyphicon glyphicon-repeat"></span></button>
                </th>
                {% endif %}
            {% endfor %}
            <th class="text-center add-pattern action">
                {% if granted %}
                    <button title="{{ 'tisseo.global.add'|trans }}" id="add-pattern" class="btn btn-xs btn-success small-button"><span class="glyphicon glyphicon-plus"></span></button>
                {% endif %}
            </th>
            <th></th>
        </thead>
        <tbody>
        {% for rs, routeStop in route.routeStops %}
            <tr class="route-stop">
                <td class="route-stop-rank">
                    {{ routeStop.rank }}
                    <input type="hidden" class="route-stop-id" value="{{ routeStop.id }}">
                    <input type="hidden" class="route-stop-type" value="{% if routeStop.isOdtAreaRouteStop %}oa{% else %}sp{% endif %}">
                </td>
                <td>
                    {% if routeStop.isOdtAreaRouteStop %}
                        Zone: {{ routeStop.waypoint.odtArea.name }}
                    {% else %}
                        {{ routeStop.waypoint.stop.stopArea.shortName }}
                    {% endif %}
                </td>
                <td style="vertical-align:top">
                    <span class="stop-time-legend" style="font-size:85%; {% if route.TripsPattern|length < 1 %} display:none{% endif %}">
                        <span style="padding-top:8px; display:inline-block">- {{ 'tisseo.boa.stop_time.label.section_time'|trans }}</span>
                        <br>
                        <span style="padding-top:8px; display:inline-block">- {{ 'tisseo.boa.stop_time.label.cumulative_time'|trans }}</span>
                        {% if routeStop.isOdtAreaRouteStop %}
                            <br>
                            <span style="padding-top:10px; display:inline-block">- {{ 'tisseo.boa.stop_time.label.tad_time'|trans }}</span>
                        {% endif %}
                    </span>
                </td>
                {% for pattern in route.TripsPattern %}
                    {% set stopTime = pattern.stopTime(routeStop) %}
                    {% if rs > 0 %}
                        {% set prevStopTime = pattern.stopTime(route.routeStops[rs-1]) %}
                    {% endif %}
                    {% if stopTime %}
                        <td id="{{ loop.index }}" class="time text-center {{ loop.index }}">
                            <input type="number" class="stop-time-departure form-control input-sm" min="0" value="{{ (stopTime.departureTime - prevStopTime.departureTime)/60 }}" {% if loop.parent.loop.first or route.IsPatternLocked(pattern) %}readonly{%endif%}>
                            <span>{{ stopTime.departureTime|date('H:i', false) }}</span>
                            <input type="hidden" class="stop-time-id" value="{{ stopTime.id }}">
                            {% if routeStop.isOdtAreaRouteStop %}
                                <input type="number" class="stop-time-departure form-control input-sm input-zone-time" value="{{ (stopTime.arrivalTime - stopTime.departureTime)/60 }}" {% if route.IsPatternLocked(pattern) %}readonly{%endif%}>
                            {% endif %}
                        </td>
                    {% else %}
                        <td id="{{ loop.index }}" class="time text-center {{ loop.index }}">
                            <input type="number" class="stop-time-departure form-control input-sm" min="0" value="0" {% if loop.parent.loop.first or route.IsPatternLocked(pattern) %}readonly{%endif%}>
                            <span>00:00</span>
                            <input type="hidden" class="stop-time-id" value="">
                            {% if routeStop.isOdtAreaRouteStop %}
                                <input type="number" class="stop-time-departure form-control input-sm input-zone-time" value="0" {% if route.IsPatternLocked(pattern) %}readonly{%endif%}>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <td class="add-pattern time"></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if granted %}
        <br>
        <button id="submit-trip-patterns" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
        </button>
    {% endif %}
</div>

<div id="new-pattern-container" class="hidden">
    <table>
        <thead>
            <th class="col-md-1 text-center new-pattern name" style="display:none;">
                <input type="text" class="pattern-name input-sm form-control" value="">
                <input type="hidden" class="pattern-id" value="">
            </th>
        </thead>
        <thead>
            <th class="text-center new-pattern action" style="display:none;">
                <button title="{{ 'tisseo.global.delete'|trans }}" class="btn btn-xs btn-danger small-button delete-pattern"><span class="glyphicon glyphicon-minus"></span></button>
                <button title="{{ 'tisseo.global.duplicate'|trans }}" class="btn btn-xs btn-info small-button duplicate-pattern"><span class="glyphicon glyphicon-repeat"></span></button>
            </th>
        </thead>
        <tbody>
            <td class="new-pattern time text-center" style="display:none;">
                <input type="number" class="stop-time-departure form-control input-sm" min="0" value="0">
                <span>00:00</span>
                <input type="hidden" class="stop-time-id" value="">
                <input type="number" class="stop-time-departure form-control input-sm input-zone-time" value="0"}>
            </td>
        </tbody>
    </table>
</div>
