{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_line_version_list') }}">
        {{ 'tisseo.boa.line_version.title.list'|trans }}
    </a>
    /
    <a href="{{ path('tisseo_boa_route_list', { 'lineVersionId': route.lineVersion.id }) }}">
        {{ 'tisseo.boa.route.title.list'|trans({ '%number%': route.lineVersion.line.number, '%version%': route.lineVersion.version }) }}
    </a>
{% endblock %}

{% block list_title %}
    {{ parent() }}
    {% if (is_granted('BUSINESS_MANAGE_ROUTES')) %}
        -
        <a href="{{ path('tisseo_boa_trip_create', {'routeId': route.id}) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.trip.action.create'|trans }}
        </a>
        {% if route.TripsNotPattern is not empty %}
        <a id="delete-all" href="{{ path('tisseo_boa_trip_delete_all', {'routeId': route.id}) }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete_all'|trans }}
        </a>
        {% endif %}
        <a id="delete-select" href="" class="btn btn-danger disabled">
            <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete_select'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <a id="route" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ render.route_header(route) }}
    </a>
    <table class="table table-hover datatable">
        <thead>
            <th class="col-md-1 no-sort">
                <label><input name="ckTripAll" class="ckTripAll" type="checkbox" value="1">
                    {{ 'tisseo.boa.trip.label.select_all'|trans }}
                </label>
            </th>
            <th class="col-md-2">{{ 'tisseo.boa.trip.label.name'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.trip.label.start'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.trip.label.type'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.trip.label.day_calendar'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.trip.label.period_calendar'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.trip.label.last_day'|trans }}</th>
            <th class="col-md-3 no-sort no-search">{{ 'tisseo.global.actions'|trans }}</th>
        </thead>
        <tbody>
            {% for trip in route.TripsNotPattern %}
                {% set stopTime = trip.FirstStopTime %}
                {% set bounds = tripBounds[trip.id] %}
                <tr>
                    <td>
                        <input name="selectedTrip[]" class="ckTrip" type="checkbox" value="{{ trip.id }}">
                    </td>
                    <td>{{ trip.name }}</td>
                    <td>{% if stopTime %}{{ stopTime.arrivalTime|date('H:i', false) }}{% endif %}</td>
                    <td>{% if trip.pattern %}{{ trip.pattern.name }}{% endif %}</td>
                    <td>
                        {% if trip.dayCalendar %}
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': trip.dayCalendar.id}) }}">
                                {{ trip.dayCalendar.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if trip.periodCalendar %}
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': trip.periodCalendar.id}) }}">
                                {{ trip.periodCalendar.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if bounds %}{{ bounds['end']|date("d/m/Y") }}{% endif %}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('tisseo_boa_trip_edit', {'tripId': trip.id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.edit'|trans }}
                        </a>
                        <a class="btn {% if bounds and bounds['start'] < yesterday %}btn-danger{% else %}btn-default{% endif %} delete-action" href="{{ path('tisseo_boa_trip_delete', {'tripId': trip.id}) }}">
                            <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['bootbox'], function(bootbox) {

            $('#delete-all').on('click', function(event) {
                event.preventDefault();
                var self = this;
                bootbox.confirm("{{ 'tisseo.boa.trip.confirm.delete_all'|trans }}", function(result) {
                    if (result)
                        window.location = self.href;
                });
            });


        });
        require(['boa/trip/delete'], function(cmp) {
            cmp.init({
                'routeId' : '{{ route.id }}'
            });
        });
    </script>
{% endblock %}
