{% extends "TisseoBoaBundle::container2.html.twig" %}
{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/tisseoboa/css/jquery.dataTables.min.css'
                   filter='cssrewrite' output='css/datatables_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}    
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/trip_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
    <h1>
        {{'trip.list.title'|trans({}, 'default')}}
    	-
    	<a href="{{ path('tisseo_boa_trip_new', {'RouteId': route.id}) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
    		<span class="glyphicon glyphicon-plus"></span> {{'trip.create'|trans({}, 'default')}}
    	</a>
    </h1>
    <hr/>

    {{ render.route_header(route) }}

    <table id="datatable" class="table table-hover dataTable no-footer" role="grid" aria-describedby="datatable_info">
        <thead>
            <th>{{ 'trip.list.columns.name'|trans({}, 'default') }}</th>
            <th>{{ 'trip.list.columns.start'|trans({}, 'default') }}</th>
            <th>{{ 'trip.list.columns.type'|trans({}, 'default') }}</th>
            <th>{{ 'trip.list.columns.day'|trans({}, 'default') }}</th>
            <th>{{ 'trip.list.columns.period'|trans({}, 'default') }}</th>
            <th>{{ 'trip.list.columns.lastDay'|trans({}, 'default') }}</th>
            <th class="no-sort"> - </th>
        </thead>
        <tbody>
            {% for trip in trips %}
                <tr>
                    <td>
                        <a href="{{ path('tisseo_boa_trip_edit', {'TripId': trip.id}) }}"
                            data-toggle="modal" data-target="#base-modal" >
                            {{ trip.name }}
                        </a>
                    </td>
                    <td>
                        {% if trip.stopTimes.first.arrivalTime %}
                            {{ render.time_format(trip.stopTimes.first.arrivalTime) }}
                        {% endif %}
                    </td>
                    <td>{{ trip.pattern.name }}</td>
                    <td>
                        {% if trip.dayCalendar %}
                            <a href="{{ path('tisseo_boa_calendar_edit', {'CalendarId': trip.dayCalendar.id}) }}">
                                {{ trip.dayCalendar.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if trip.periodCalendar %}
                            <a href="{{ path('tisseo_boa_calendar_edit', {'CalendarId': trip.periodCalendar.id}) }}">
                                {{ trip.periodCalendar.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td></td>   {#Last Day#}
                    <td>
                        <a class="btn btn-default delete-action" href="{{ path('tisseo_boa_trip_delete', {'TripId': trip.id}) }}">
                            <span class="glyphicon glyphicon-remove"></span>{{ 'global.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        require(['jquery', 'datatables'], function($) {
            $(document).ready(function() {
                $("#datatable").DataTable({
                    "order": [[ 1, "asc" ]],
                    "pageLength" : 25,
                    "language": {
                        "sZeroRecords":    "{{'trip.list.no_data'|trans({}, 'default')}}"
                    }
                });

                $('#datatable').on('click',  ".delete-action", function(event) {
                    if( !confirm("Confirmez-vous la suppression de ce service ?") ) {
                        event.preventDefault();
                    }
                })
            });
        });
    </script>
{% endblock %}
