{% extends "::modal.html.twig" %}
{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block modal_title %}
    {{ title|trans({}, 'default') }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    <div id="error_alert"></div>
    {{ form_errors(form) }}

    {{ render.route_header(trip.route) }}

    <div class="form form-edit">
        <div class = "col-md-12">
            <div class="row">
                <div class = "col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class = "col-md-6">
                    <div class="form-group">
                        {{ form_row(form.pattern) }}
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-md-12">
            <div class="row">
                <div class = "col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.dayCalendar, { 'attr': {'class': 'hide day-calendar'}}) }}
                        {{ form_label(form.dayCalendar) }}
                        <input
                            type="text"
                            id="day-calendar"
                            class="form-control"
                            data-url="{{ path('tisseo_boa_json_calendars', {'calendarType': 'jour' }) }}"
                            required
                        >
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.periodCalendar, { 'attr': {'class': 'hide period-calendar'}}) }}
                        {{ form_label(form.periodCalendar) }}
                        <input
                            type="text"
                            id="period-calendar"
                            class="form-control"
                            data-url="{{ path('tisseo_boa_json_calendars', {'calendarType': 'periode,mixte' }) }}"
                            required
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-md-12">
            <div class="row">
                <div class = "col-md-6">
                    <div class="form-group">
                        {{ form_row(form.datasource) }}
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="form-group">
                        {{ form_row(form.code) }}
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="stop_times"></div>
    <div>
        <button id="add-stop-time-block" class="btn btn-default" >
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form) }}

    <script>
        require(['boa/trip/utils'], function(utils) {
            $(document).ready(function () {
                $('.modal-dialog').css('width', '1200px');

                utils.initAutoComplete('#day-calendar', '#boa_trip_dayCalendar');
                utils.initAutoComplete('#period-calendar', '#boa_trip_periodCalendar');
                utils.initTripPatternAutoComplete('#trip-pattern', '#boa_trip_pattern', {{ trip.route.id }});
                utils.addStopTimeBlock(
                    "#stop_times",
                    "{{ 'trip.stop_time_template.start' | trans }}",
                    "{{ 'trip.stop_time_template.frequency' | trans }}",
                    "{{ 'trip.stop_time_template.stop' | trans }}"
                );

                $('#add-stop-time-block').click(function(event) {
                    event.preventDefault();
                    utils.addStopTimeBlock(
                        "#stop_times",
                        "{{ 'trip.stop_time_template.start' | trans }}",
                        "{{ 'trip.stop_time_template.frequency' | trans }}",
                        "{{ 'trip.stop_time_template.stop' | trans }}"
                    );
                });
            });

            {# form validation #}
            $('form[name="{{ form.vars.full_name }}"]').submit( function( e ) {
                if( !$('.day-calendar').val() ) {
                    utils.displayAlert("{{ 'trip.error.day_calendar' | trans }}");
                    return false;
                }
                if( !$('.period-calendar').val() ) {
                    utils.displayAlert("{{ 'trip.error.period_calendar' | trans }}");
                    return false;
                }

                {# check frequencies and stops #}
                $('#stop_times').find('div.stop-time-block').each(function () {
                    var frequency = $(this).find('input.frequency').val();
                    var stop = $(this).find('input.stop').val();

                    if( (frequency && !stop) || (!frequency && stop) ) {
                        utils.displayAlert("{{ 'trip.error.stop_time' | trans }}");
                        return false;
                    }
                });

                return true;
            });

        });
    </script>
{% endblock %}
