{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block modal_title %}
    {{ 'stop_history.create'|trans({}, 'default') }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}

    <div class="form form-edit">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.shortName) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.longName) }}
                </div>
                <div class="col-md-4 input-range">
                    {{ form_row(form.startDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.x, {'attr': {'value': theGeom.x }}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.y, {'attr': {'value': theGeom.y }}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.srid) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form) }}

    <script>
        require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function() {
            $('.input-range input').datepicker({
                language: '{{ app.request.locale }}',
                todayHighlight: true,
                autoclose: true,
                startDate: "{{ startDate|date('d/m/Y') }}"
            });
        });
    </script>
{% endblock %}
