{% extends "TisseoBOABundle::datatable_list.html.twig" %}

{% import "TisseoBOABundle::macros.html.twig" as render %}

{% block list_title -%}
    {{'log.list.title'|trans({}, 'default')}}
{% endblock %}

{% block table_head -%}
    <th>{{'log.list.columns.datetime'|trans({}, 'default')}}</th>
    <th>{{'log.list.columns.table'|trans({}, 'default')}}</th>
    <th>{{'log.list.columns.action'|trans({}, 'default')}}</th>
    <th>{{'log.list.columns.previousData'|trans({}, 'default')}}</th>
    <th>{{'log.list.columns.insertedData'|trans({}, 'default')}}</th>
    <th>{{'log.list.columns.user'|trans({}, 'default')}}</th>
{% endblock %}

{% block table_body -%}
    {% if logs|length == 0 %}
        <tr>
            <td colspan="3"> {{'global.no_items'|trans}} </td>
			{# prevent warning from datatables #}
			<td></td><td></td><td></td><td></td><td></td>
        </tr>
    {% else %}
        {% for log in logs %}
            <tr>
                <td> {{ log.datetime }} </td>
                <td> {{ log.table }} </td>
                <td> {{ log.action }} </td>
                <td> {{ log.previousData }} </td>
                <td> {{ log.insertedData }} </td>
                <td> {{ log.user }} </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
