{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block list_title %}
    {% set offset = app.request.get('offset') %}
    {% set limit = app.request.get('limit') %}
    {{ parent() }} -
    {% if offset %}
    <a class="offset" href="{{ path('tisseo_boa_log_list', { 'offset': offset - limit, 'limit': limit}) }}">
            <span class="glyphicon glyphicon-backward"></span>
    </a>
    {% endif %}
    {% if max - offset > limit %}
    <a class="offset" href="{{ path('tisseo_boa_log_list', { 'offset': offset + limit, 'limit': limit}) }}">
        <span class="glyphicon glyphicon-forward"></span>
    </a>
    {% endif %}
{% endblock %}

{% block table_head %}
    <th class="col-md-1">{{ 'tisseo.boa.log.label.id'|trans }}</th>
    <th class="col-md-1">{{ 'tisseo.boa.log.label.datetime'|trans }}</th>
    <th class="col-md-2">{{ 'tisseo.boa.log.label.table'|trans }}</th>
    <th class="col-md-1">{{ 'tisseo.boa.log.label.action'|trans }}</th>
    <th class="col-md-3">{{ 'tisseo.boa.log.label.previous_data'|trans }}</th>
    <th class="col-md-3">{{ 'tisseo.boa.log.label.inserted_data'|trans }}</th>
    <th class="col-md-1">{{ 'tisseo.boa.log.label.user'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for log in logs %}
        <tr>
            <td>{{ log.id }} </td>
            <td>{{ log.datetime | date("d/m/Y H:i:s") }}</td>
            <td>{{ log.table }}</td>
            <td>{{ log.action }}</td>
            {% set previousDatas = log.previousData|split('', 50) %}
            <td>
            {% for previousData in previousDatas %}
                {{ previousData }}
            {% endfor %}
            </td>
            {% set insertedDatas = log.insertedData|split('', 50) %}
            <td>
            {% for insertedData in insertedDatas %}
                {{ insertedData }}
            {% endfor %}
            </td>
            <td>{{ log.user }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['core/datatables'], function() {
            $(document).ready(function () {
                datatables[0].order([0, 'desc']).draw();
            });
        });
    </script>
{% endblock %}
