{% extends "TisseoCoreBundle::generic_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% set calendarTypes = [
        constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_PERIOD'),
        constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_HYBRID')
    ]
%}

{% block breadcrumb %}
    {% if form.vars.value.calendarType %}
    <a href="{{ path('tisseo_boa_calendar_list', {'calendarType': form.vars.value.calendarType}) }}">
        {{ 'tisseo.boa.calendar.title.list'|trans({ '%type%': form.vars.value.calendarType }) }}
    </a>
    {% else %}
        {{ 'tisseo.boa.menu.calendar.manage'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    <a id="calendar" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.calendar.header.edit'|trans }}
    </a>
    <div class="calendar-form panel col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.calendarType, {'attr': { 'data-types': calendarTypes|json_encode() }}) }}
                </div>
                {% if form.calendarType.vars.value in calendarTypes %}
                <div class="col-md-2 line-version">
                    {{ form_row(form.lineVersion) }}
                </div>
                {% else %}
                <div class="col-md-2 line-version hidden">
                    {{ form_row(form.lineVersion) }}
                </div>
                {% endif %}
            </div>
            {% if calendar.id %}
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.computedStartDate) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.computedEndDate) }}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-3">
            <div id="calendar-view" data-url="{{ path('tisseo_boa_calendar_bitmask') }}"></div>
        </div>

        <div class="col-md-12 row">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    {% if calendar.id %}
    <a id="calendar-elements" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.calendar.header.calendar_elements'|trans }}
    </a>
    {{ render(controller('TisseoBoaBundle:CalendarElement:edit', {'calendarId': calendar.id })) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/calendar/edit']);
    </script>
    {% if calendar.calendarElements is not empty %}
    <script>
        global = {
            locale: '{{ app.request.locale }}'
        };
        require(['boa/calendar_element/edit']);
    </script>
    {% endif %}
{% endblock %}
