{% extends "TisseoBOABundle::container.html.twig" %}

{% form_theme form 'TisseoBOABundle:Form:fields.html.twig' %}

{% block main_content %}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <hr/>

    {{ form_start(form) }}
		<div class="form form-edit">
			{{ form_row(form.name) }}
			{{ form_row(form.calendarType) }}
			{{ form_row(form.lineVersion) }}
		</div>
		
		<table id='calendar_elements' 
			class="table table-hover dataTable no-footer" 
			data-prototype="{% filter escape %}{% include 'TisseoBOABundle:CalendarElement:form.html.twig' with { 'form': form.calendar_elements.vars.prototype } %} {% endfilter %}">
		<thead>
			<th>Ordre</th>
			<th>Début</th>
			<th>Fin</th>
			<th>Calendrier</th>
			<th>Signe</th>
			<th>Récurrence</th>
			<th>Actions</th>
		</thead>
		<tbody>
		{% for calendar_element in form.calendar_elements %}
			<tr>
				{% include 'TisseoBOABundle:CalendarElement:form.html.twig' with { 'form': calendar_element, 'disabled': true } %}
				{#<td><ul><li><a href="#">Add</a></li><li><a href="#">Remove</a></li></ul>#}
				<td><input type="checkbox" name="remove" value="remove">{{'global.delete'|trans}}</td>				
			</tr>
		{% endfor %}
		</tbody></table>		

	<div class="row">
		<div class="col-md-9">
			<button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-pencil"></span>
				 {{'global.save'|trans}}
			</button>
		</div>
		<div class="col-md-3">
			<label class="control-label">Eléments: </label>
			<a class="btn btn-default" id="add_element" href="#"><span class="glyphicon glyphicon-plus"></span>{{'global.add'|trans({}, 'messages')}}</a>
			<a class="btn btn-default"  id="empty_elements" href="#"><span class="glyphicon glyphicon-remove"></span>{{'global.empty'|trans({}, 'messages')}}</a>
		</div>
	</div>
	
	{{ form_end(form) }}	
{% endblock %}


{% block javascripts %}
   <script>
		require(['jquery'], function($) {
			var $collectionHolder = $('#calendar_elements');
			
			function add(){
				var $prototype = $collectionHolder.attr('data-prototype');
				var $newForm = $prototype.replace(/__name__/g, $collectionHolder.children().length-1);
				$('#calendar_elements >tbody')
					.append("<tr><td><span class=\"form-control\" disabled=\"1\"></span></td>" + 
								$newForm + "<td><a class=\"btn btn-default\" href=\"#\"><span class=\"glyphicon glyphicon-remove\"></span>{{'global.delete'|trans({}, 'messages')}}</a></td></tr>");
			};
			
			$('#empty_elements').click(function(event) {
				if(!confirm("{{'calendar.empty_elements'|trans({}, 'default')}}") )
					return false;
				$("#calendar_elements > tbody").html("");
			});
			
			
			$('#add_element').click(function(event) {
				add();
			});
			
			$('#calendar_elements').on('click',  "a", function(event) {
				event.preventDefault();
				if ($(this).text() === "{{'global.delete'|trans({}, 'messages')}}") { 
					$(this).closest("tr").remove(); 
				}
			});
		 });
    </script>
{% endblock %}
