{% extends "TisseoBOABundle::datatable_list.html.twig" %}

{% import "TisseoBOABundle::macros.html.twig" as render %}

{% form_theme filterForm 'TisseoBOABundle:Form:fields.html.twig' %}

{% block list_title -%}
    {{'calendar.list.title'|trans({}, 'default')}}
	-
	<a href="{{ path('tisseo_boa_calendar_edit') }}" class="btn btn-success">
		<span class="glyphicon glyphicon-plus"></span> {{'calendar.create'|trans({}, 'default')}}
	</a>	
{% endblock %}

{% block list_menu -%}
	{{ form_errors(filterForm) }}
	{{ form_start(filterForm)}}
		{{ 'calendar.list.columns.type'|trans({}, 'default') ~ ':' }}
		{{ form_widget(filterForm.calendarType, {'attr': {'class': 'type-select'}}) }}
	{{ form_end(filterForm)}}
	<br>
{% endblock %}

{% block table_head -%}
	<th>{{'calendar.list.columns.name'|trans({}, 'default')}}</th>
    <th>{{'calendar.list.columns.type'|trans({}, 'default')}}</th>
    <th>{{'calendar.list.columns.line'|trans({}, 'default')}}</th>
    <th>{{'calendar.list.columns.startDate'|trans({}, 'default')}}</th>
    <th>{{'calendar.list.columns.endDate'|trans({}, 'default')}}</th>
	<th class="no-sort">{{'global.edit'|trans({}, 'messages')}}</th>
	<th class="no-sort">{{'global.delete'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% if calendars|length == 0 %}
        <tr>
            <td colspan="3"> {{'global.no_items'|trans}} </td>
			<td></td><td></td><td></td><td></td><td></td>
        </tr>
    {% else %}
        {% for calendar in calendars %}
            <tr>
                <td> {{ calendar.name }} </td>
                <td> {{ calendar.calendarType }} </td>
                <td> {{ calendar.lineVersion.line.number ~ '_' ~  calendar.lineVersion.version }} </td>
                <td> {{ calendar.startDate }} </td>
                <td> {{ calendar.endDate }} </td>
                <td>
					<a class="btn btn-default" href="{{ path('tisseo_boa_calendar_edit', {'CalendarId': calendar.id}) }}">
						<span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
					</a>
                </td>
                <td>
				{% if (calendar.periodTrips is empty)  and (calendar.dayTrips is empty) and (calendar.includedCalendarElements is empty) and (calendar.accessibilityTypes is empty) %}
					<a class="btn btn-default" href="{{ path('tisseo_boa_calendar_edit', {'CalendarId': calendar.id}) }}">
						<span class="glyphicon glyphicon-remove"></span> {{'global.delete'|trans({}, 'messages')}}
					</a>
				{% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
