{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block list_title %}
    {{ parent() }}
    {% if is_granted('BUSINESS_MANAGE_CALENDARS') %}
        -
        <a href="{{ path('tisseo_boa_calendar_edit') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.calendar.action.create'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head %}
    <th class="col-sm-3">{{ 'tisseo.boa.calendar.label.name'|trans }}</th>
    {% if calendarType in [constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_HYBRID'), constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_PERIOD')] %}
        <th class="col-sm-2">{{ 'tisseo.boa.calendar.label.line'|trans }}</th>
    {% endif %}
    <th class="col-sm-2">{{ 'tisseo.boa.calendar.label.start_date'|trans }}</th>
    <th class="col-sm-2">{{ 'tisseo.boa.calendar.label.end_date'|trans }}</th>
    <th class="col-sm-3 no-search no-sort">{{ 'tisseo.global.actions'|trans }}</th>
{% endblock %}

{#{% block table_body %}
    {% for calendar in calendars %}
        <tr>
            <td>
                {{ calendar.name }}
            </td>
            {% if calendarType in [constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_HYBRID'), constant('Tisseo\\EndivBundle\\Entity\\Calendar::CALENDAR_TYPE_PERIOD')] %}
            <td>
                {% if calendar.lineVersion is not null %}
                    {{ calendar.lineVersion.line.number ~ ' - v' ~ calendar.lineVersion.version }}
                {% endif %}
            </td>
            {% endif %}
            <td>
                {% if calendar.computedStartDate is not null %}
                    {{ calendar.computedStartDate|date("d/m/Y") }}
                {% endif %}
            </td>
            <td>
                {% if calendar.computedEndDate is not null %}
                    {{ calendar.computedEndDate|date("d/m/Y") }}
                {% endif %}
            </td>
            <td>
                {% if is_granted('BUSINESS_MANAGE_CALENDARS') %}
                    <a class="btn btn-default" href="{{ path('tisseo_boa_calendar_edit', {'calendarId': calendar.id }) }}">
                        <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
                    </a>
                    {% if ((calendar.periodTrips is empty) and (calendar.dayTrips is empty) and (calendar.accessibilityTypes is empty)) %}
                        <a class="btn {% if calendar.calendarElements is empty %}btn-default{% else %}btn-danger{% endif %}" href="{{ path('tisseo_boa_calendar_delete', {'calendarId': calendar.id, 'calendarType': calendarType }) }}">
                            <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete'|trans }}
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}#}

