{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{ 'color.list.title'|trans({}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
        -
        <a href="{{ path('tisseo_boa_color_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'color.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-1 no-search no-sort">{{ 'color.list.title'|trans({}, 'default') }}</th>
    <th class="col-sm-2">{{ 'color.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'color.list.columns.html'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'color.list.columns.pantoneOc'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'color.list.columns.hoxis'|trans({}, 'default') }}</th>
    <th class="col-sm-2">{{ 'color.list.columns.cmyk'|trans({}, 'default') }}</th>
    <th class="col-sm-2">{{ 'color.list.columns.rgb'|trans({}, 'default') }}</th>
    <th class="col-sm-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for color in colors %}
    <tr>
        <td>{{ render.color_display(color) }}</td>
        <td>{{ color.name }}</td>
        <td>{{ color.html }}</td>
        <td>{{ color.pantoneOc }}</td>
        <td>{{ color.hoxis }}</td>
        <td>{{ color.cmykCyan }} {{ color.cmykMagenta }} {{ color.cmykYellow }} {{ color.cmykBlack }}</td>
        <td>{{ color.rgbRed }} {{ color.rgbGreen }} {{ color.rgbBlue }}</td>
        <td>
        {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
            <a class="btn btn-default" href="{{ path('tisseo_boa_color_edit', {'colorId': color.id}) }}" data-toggle="modal" data-target="#base-modal">
                <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
            </a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endblock %}
