{% extends "::modal.html.twig" %}

{% block modal_title %}
    {{ title|trans ~ ' "' ~ stopArea.nameLabel ~ '"' }}
{% endblock %}

{% block modal_body %}
    <div id="aliases-list">
        <input type="hidden" id="stop-area-id" value="{{ stopArea.id }}"></input>
        <table id="table-aliases" class="table table-hover">
            <thead>
                <th class="col-md-3">{{ 'tisseo.boa.alias.label.name'|trans }}</th>
                <th class="col-md-2 no-sort no-search">{{ 'tisseo.global.actions'|trans }}</th>
            </thead>
            {% for alias in stopArea.aliases %}
                <tr class="alias">
                    <input type='hidden' class="alias-id" name="id" value="{{ alias.id }}">
                    <td>{{ alias.name }}</td>
                    <td>
                        {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                            <button class="btn btn-xs btn-danger small-button delete-alias"><span class="glyphicon glyphicon-minus"></span></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                <tr class="new-alias">
                    <td><input type="text" id="new-alias-name" name="name" class="form-control"></td>
                    <td>
                        <button id="apply-alias-form" type="submit" class="btn btn-success small-button"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div id="new-alias-container" style="display:none">
        <table>
            <tr class="alias">
                <input type='hidden' class="alias-id" name="id" value="">
                <td></td>
                <td>
                    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                        <button class="btn btn-xs btn-danger small-button delete-alias"><span class="glyphicon glyphicon-minus"></span></button>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block modal_actions %}
    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
        <script>
            require(['boa/alias/edit']);
        </script>
        <button id="submit-aliases" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>{{ 'tisseo.global.save'|trans }}
        </button>
    {% endif %}
{% endblock %}
