{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set leaflet = true %}
{% set margin = '10' %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_stop_area_search') }}">
        {{ 'tisseo.boa.stop_area.title.search'|trans }}
    </a>
{% endblock %}

{% block content %}
    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_area.header.edit_form'|trans }}
    </a>
    <div class="panel col-md-12">
        <div class="col-md-5">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.shortName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.longName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{ form_label(form.city) }}
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_widget(form.city, { 'attr': {'class': 'hide'}}) }}
                            <input type="text" id="city" class="form-control" style="margin-bottom:15px"
                                data-url="{{ path('tisseo_boa_json_city') }}"{% if mainStopArea %}"readonly=readonly"{% endif %}>
                        </div>
                        <div class="col-md-2">
                            <a id="city-edit" class="btn btn-default" href="{{ path('tisseo_boa_city_edit', {'cityId': form.city.vars.data.id}) }}">
                                <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.consult'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% for datasource in form.stopAreaDatasources %}
            <div class="row">
                <div class="col-md-5">
                    {{ form_row(datasource.datasource) }}
                </div>
                <div class="col-md-7">
                    {{ form_row(datasource.code) }}
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                    </button>
                    <a href="" class="btn btn-default">
                        <span class="glyphicon glyphicon-repeat"></span> {{ 'tisseo.global.cancel'|trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        {% if stopArea.id %}
            <div class="col-md-7" id="leaflet-map-container" style="float:right"></div>
        {% endif %}
    </div>

    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_area.header.stop_point'|trans }}
    </a>

    <div class="panel col-md-12">
    {% if stopArea.id is not null %}
        <div class="row" style="padding:10px 0 0;">
            <div class = "col-md-12">
                {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                    <a href="{{ path('tisseo_boa_stop_create') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success stop-create">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.stop_point.action.create'|trans }}
                    </a>
                    <a class="btn btn-default internal-transfers-edit" href="{{ path('tisseo_boa_internal_transfer_edit', {'stopAreaId': stopArea.id}) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-resize-small"></span> {{ 'tisseo.boa.stop_area.action.internal_transfert'|trans }}
                    </a>
                    <a class="btn btn-default external-transfers-edit" href="{{ path('tisseo_boa_external_transfer_edit', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-resize-full"></span> {{ 'tisseo.boa.stop_area.action.external_transfert'|trans }}
                    </a>
                    <a class="btn btn-default disabled" id="geometries" href="#">
                        <span class="glyphicon glyphicon-globe"></span> {{ 'tisseo.boa.stop_area.action.geometries'|trans }}
                    </a>
                    <a class="btn btn-default aliases-edit" href="{{ path('tisseo_boa_alias_edit', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-tag"></span> {{ 'tisseo.boa.stop_area.action.alias'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>

    <div class="panel col-md-12">
        <input type="checkbox" id="show-closed-stops"><label>&nbsp;{{ 'tisseo.boa.stop_area.action.toggle_closed_stops'|trans }}</label>

        <table id="stop-history" class="table datatable table-hover">
            <thead>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.agency'|trans }}</th>
                <th class="col-md-1">{{ 'tisseo.boa.stop_history.label.code'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.short_name'|trans }}</th>
                <th class="col-md-1">{{ 'tisseo.boa.stop_history.label.x'|trans }}</th>
                <th class="col-md-1">{{ 'tisseo.boa.stop_history.label.y'|trans }}</th>
                <th class="col-md-3">{{ 'tisseo.boa.stop_history.label.lines'|trans }}</th>
                <th class="col-md-2 no-sort no-search">{{ 'tisseo.global.actions'|trans }}</th>
            </thead>
            <tbody>
            {% set now = date('now') %}
            {% for stop in stops %}
                {% set stopHistory = stop.CurrentStopHistory(now) %}
                {% if not stopHistory %}
                    {% set stopHistory = stop.LatestStopHistory() %}
                {% endif %}
                <tr{% if stopHistory.endDate and stopHistory.endDate < now %} class="closed-stop" style="background-color:#E4E4E4;"{% endif %}>
                    <td>{{ stop.stopDatasources[0].datasource.agency.name }}</td>
                    <td><a target="_blank" href="{{ path('tisseo_boa_stop_edit', {'stopId': stop.id }) }}">{{ stop.stopDatasources[0].code }}</a></td>
                    <td>{{ stopHistory.shortName }}</td>
                    {% if stop.masterStop %}
                        <td></td>
                        <td></td>
                        <td>
                        {% if linesByStop[stop.id] is not empty %}
                            {% for line in linesByStop[stop.id] %}
                                {{ render.line_number(line, 'line', 'small') }}
                            {% endfor %}
                        {% endif %}
                        </td>
                        <td><a href="{{ path('tisseo_boa_stop_edit', {'stopId': stop.id}) }}">{{ 'tisseo.boa.stop_history.label.mastered_by'|trans({ '%stop%': stop.masterStop.StopLabel }) }}</a></td>
                    {% else %}
                        <td>{{ stopHistory.theGeom.x }}</td>
                        <td>{{ stopHistory.theGeom.y }}</td>
                        {% if linesByStop[stop.id] is not empty %}
                            <td>
                            {% for line in linesByStop[stop.id] %}
                                {{ render.line_number(line, 'line', 'small') }}
                            {% endfor %}
                            </td>
                            <td></td>
                        {% else %}
                            <td></td>
                            <td>
                                <a class="btn btn-default" href="{{ path('tisseo_boa_stop_detach', {'stopId': stop.id }) }}">
                                    <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete'|trans }}
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel col-md-12">
        {% if stopArea.id is not null %}
            <div class="row" style="padding:10px 0 0;">
                <div class = "col-md-12">
                    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                        <a href="{{ path('tisseo_boa_stop_create') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success stop-create">
                            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.stop_point.action.create'|trans }}
                        </a>
                        <a class="btn btn-default internal-transfers-edit" href="{{ path('tisseo_boa_internal_transfer_edit', {'stopAreaId': stopArea.id}) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-resize-small"></span> {{ 'tisseo.boa.stop_area.action.internal_transfert'|trans }}
                        </a>
                        <a class="btn btn-default external-transfers-edit" href="{{ path('tisseo_boa_external_transfer_edit', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-resize-full"></span> {{ 'tisseo.boa.stop_area.action.external_transfert'|trans }}
                        </a>
                        <a class="btn btn-default disabled" id="geometries" href="#">
                            <span class="glyphicon glyphicon-globe"></span> {{ 'tisseo.boa.stop_area.action.geometries'|trans }}
                        </a>
                        <a class="btn btn-default aliases-edit" href="{{ path('tisseo_boa_alias_edit', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-tag"></span> {{ 'tisseo.boa.stop_area.action.alias'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');
        });
    </script>
    <script>
        require(['boa/stop_area/edit'], function() {
            init_autocomplete("#city", "#boa_stop_area_city", null);
            $("#city").val($("#boa_stop_area_city option:selected").text());
        });
    </script>
    <script>
        require(['core/leaflet_utils'], function() {
            init_map_with_stops({{ stopsJson|raw }}, true);
        });
    </script>
    <script>
        require(['jquery'], function() {
            $('#show-closed-stops').change(function() {
                if ($(this).is(":checked"))
                    $(".closed-stop").fadeIn();
                else
                    $(".closed-stop").fadeOut();
            });

            $('.internal-transfers-edit').click(function(){
                $('.modal-dialog').css('width', '800px');
            });

            $('.external-transfers-edit').click(function(){
                $('.modal-dialog').css('width', '1200px');
                $('#base-modal').on('loaded.bs.modal', function () {
                    require(['boa/transfer/external_transfer'], function(externalTransfer) {
                        externalTransfer.initExternalTransfers();
                    });
                });
            });
            $('.aliases-edit').click(function(){
                $('.modal-dialog').css('width', '600px');
                $('#base-modal').on('loaded.bs.modal', function () {
                    $('#aliases-list #new-alias-name').focus();
                });
            });
            $('.stop-create').click(function(){
                $('.modal-dialog').css('width', '600px');
            });
        });
    </script>
{% endblock %}

