{% extends "::modal.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/calendar_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}


{% form_theme form 'TisseoBoaBundle:Form:fields.html.twig' %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block modal_title %}
    {{ title|trans({}, 'default') ~ " " ~ stopAreaLabel }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
	{{ form_widget(form._token) }}
	
	<div>
		<div class="stop_table_header">{{ 'stop_area.labels.internal_transfert' | trans }}</div>
		<table 
			id='transfer_table'
			class="table table-hover dataTable no-footer"
		>
		<thead>
			<th>{{ 'stop_area.transfer.columns.startStop' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.endStop' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.duration' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.distance' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.longName' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.theGeom' | trans }}</th>
			<th>Action</th>
		</thead>
		<tbody>
			{#
				boucle sur les transferts en base
			#}
		</tbody>
		</table>
	</div>
	<div class="row">
		<a class="btn btn-default" id="add_element" href="#"><span class="glyphicon glyphicon-plus"></span>{{'global.add'|trans({}, 'messages')}}</a>
	</div>
	
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form, { 'render_rest': false}) }}
	
	<script>   
		require(['jquery', 'jquery_ui_autocomplete'], function($) {
			$('.modal-dialog').css('width', '1300px');
			
			$.widget("custom.catAutocomplete", $.ui.autocomplete, {
				_renderMenu: function(ul, items) {
					var that = this, 
						currentCategory = "";
					$.each(items, function(index, item) {
						if (item.category != currentCategory) {
							ul.append("<li class='ui-autocomplete-category'>** " + item.category + "</li>");
							currentCategory = item.category;
						}
						that._renderItemData(ul, item);
					});
				}
			});


			$('#add_element').click(function(event) {
				var index = $('#transfer_table >tbody >tr').length;
				
				var newLine = "<tr>";
				newLine +="<td>{{ render.stop_select(stops, 'startStop_select', 'stop_select', 'Tous les points d\'arrêts', '') | e('js') }}</td>";
				
				newLine +="<td>";
				newLine +="<input type='hidden' id='transfer_" + index  + "_endStopId' name='transfer[" + index  + "][endStopId]' class='form-control'>";
				newLine +="<input type='text' id='transfer_" + index  + "_endStopLabel' name='transfer[" + index  + "][endStopLabel]' class='form-control ui-autocomplete-input'>";
				newLine +="</td>";
				
				$.each(["duration", "distance", "longName",  "theGeom"] , function(i, field) { 
					newLine += "<td><input type='text' id='transfer_" + index  + "_" + field + "' name='transfer[" + index  + "][" + field + "]' class='form-control'></td>";
				});
				newLine +="<td>Action</td>";
				
				$('#transfer_table >tbody').append(newLine);

				$("#transfer_" + index  + "_endStopLabel").catAutocomplete({
					source: function (request, response) {
						var objData = { term: request.term };
						var url = "{{ path('tisseo_boa_json_stop_transfer') }}";
						$.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
							success: function (data) {
								response($.map(JSON.parse(data.content), function (item) {
									console.log(item);
									return {				
										value: item.name, 
										id: item.id,
										category: 'Stop'
									};
								}));
							},
						});
					},
					select: function (event, ui) {
						$("#transfer_" + index  + "_endStopId").val(ui.item.id);
					},					
					minLength: 3,
					delay: 300
				});
				
{#				
				$("#transfer_" + index  + "_endStopLabel").autocomplete({
					source: function (request, response) {
						var objData = { term: request.term };
						var url = "{{ path('tisseo_boa_json_calendars', {'CalendarType': 'jour' }) }}";
						$.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
							success: function (data) {
								response($.map(JSON.parse(data.content), function (item) {									
									return {				
										label: item.name, 
										value: item.name, 
										id: item.id,
										category: 'Stop'
									};
								}));
							},
						});
					},
					select: function (event, ui) {
						$("#transfer_" + index  + "_endStopId").val(ui.item.id);
					},					
					minLength: 3,
					delay: 300
				});
#}				
			});
		});
    </script>		
{% endblock %}
