{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoBoaBundle:Form:fields.html.twig' %}

{% block modal_title %}
    {{ title|trans({}, 'default') ~ " " ~ stopAreaLabel }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
	{{ form_widget(form._token) }}
	
	<div>
		<div class="stop_table_header">{{ 'stop_area.labels.internal_transfert' | trans }}</div>
		<table 
			id='transfer_table'
			class="table table-hover dataTable no-footer"
		>
		<thead>
			<th>{{ 'stop_area.transfer.columns.startStop' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.endStop' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.duration' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.distance' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.longName' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.theGeom' | trans }}</th>
		</thead>
		<tbody>
			{#
				boucle sur les transferts en base
			#}
		</tbody>
		</table>
	</div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form, { 'render_rest': false}) }}
	<script>   
		require(['jquery'], function($) {
			$('.modal-dialog').css('width', '1300px');
		});
    </script>		
{% endblock %}
