{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set datatable = true %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block main_content %}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <br>

    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'stop_area.list.headers.edit_form'|trans({}, 'default') }}
    </a>
    <div class="panel col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.shortName) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.longName) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.city) }}
                {{ form_widget(form.city, { 'attr': {'class': 'hide'}}) }}
                <input type="text" id="city" class="form-control" data-url="{{ path('tisseo_boa_json_city') }}"{% if mainStopArea %}"readonly=readonly"{% endif %}>
            </div>
        </div>

        {% for datasource in form.stopAreaDatasources %}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(datasource.datasource) }}
            </div>
            <div class="col-md-3">
                {{ form_row(datasource.code) }}
            </div>
        </div>
        {% endfor %}
    
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
                </button>
                <a href="" class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat"></span> {{ 'global.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'stop_area.list.headers.stop_point'|trans({}, 'default') }}
    </a>
    <div class="panel col-md-12">
        <input type="checkbox" id="show-closed-stops"><label> {{ 'stop_area.show_closed_stops'|trans({}, 'default') }}</label>

        <table id="stop-history" class="table datatable table-hover">
            <thead>
                <th class="col-md-2">{{ 'stop_history.list.columns.agency'|trans({}, 'default') }}</th>
                <th class="col-md-1">{{ 'stop_history.list.columns.code'|trans({}, 'default') }}</th>
                <th class="col-md-2">{{ 'stop_history.list.columns.short_label'|trans({}, 'default') }}</th>
                <th class="col-md-1">{{ 'stop_history.list.columns.x'|trans({}, 'default') }}</th>
                <th class="col-md-1">{{ 'stop_history.list.columns.y'|trans({}, 'default') }}</th>
                <th class="col-md-3">{{ 'stop_history.list.columns.lines'|trans({}, 'default') }}</th>
                <th class="col-md-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
            </thead>
            <tbody>
            {% set now = date('now') %}
            {% for stop in stops %}
                {% set stopHistory = stop.CurrentStopHistory(now) %}
                {% if not stopHistory %}
                    {% set stopHistory = stop.LatestStopHistory() %}
                    {% if stopHistory.endDate and stopHistory.endDate < now %}
                        <tr class="closed-stop" style="background-color:#E4E4E4;">
                    {% else %}
                        <tr></tr>
                    {% endif %}
                {% else %}
                    <tr></tr>
                {% endif %}
                <td>{{ stop.stopDatasources[0].datasource.agency.name }}</td>
                <td>{{ stop.stopDatasources[0].code }}</td>
                <td><a href="{{ path('tisseo_boa_stop_edit', {'stopId': stop.id }) }}">{{ stopHistory.shortName }}</a></td>
                {% if stop.masterStop %}
                    <td><a href="{{ path('tisseo_boa_stop_edit', {'stopId': stop.id}) }}">{{ 'stop_history.phantom_of'|trans({'%stop%': stop.masterStop.StopLabel}, 'messages') }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% else %}
                    <td>{{ stopHistory.theGeom.x }}</td>
                    <td>{{ stopHistory.theGeom.y }}</td>
                    {% if lineVersions[stop.id] is not empty %} 
                        <td>
                        {% for lineVersion in lineVersions[stop.id] %}
                            {{ render.line_number(lineVersion, 'lineVersion', 'small') }}
                        {% endfor %}
                        </td>
                        <td></td>
                    {% else %}
                        <td></td>
                        <td>
                            <a class="btn btn-default" href="{{ path('tisseo_boa_stop_detach', {'stopId': stop.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span> {{ 'global.delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('tisseo_boa_stop_create') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'stop.create'|trans({}, 'default') }}
        </a>
    </div>

    {# buttons #}
    {% if stopArea.id is not null %}
        <div class="row" style="padding:10px 0 0;">
            <div class = "col-md-12">
                {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
                    <a class="btn btn-default" href="{{ path('tisseo_boa_internal_transfer_edit', {'stopAreaId': stopArea.id}) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-resize-small"></span> {{ 'stop_area.internal_transfert'|trans({}, 'default') }}
                    </a>
                    <a class="btn btn-default" href="{{ path('tisseo_boa_external_transfer_edit', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-resize-full"></span> {{ 'stop_area.external_transfert'|trans({}, 'default') }}
                    </a>
                    <a class="btn btn-default disabled" id="geometries" href="#">
                        <span class="glyphicon glyphicon-globe"></span> {{ 'stop_area.geometries'|trans({}, 'default') }}
                    </a>
                    <a class="btn btn-default" href="{{ path('tisseo_boa_stop_area_alias', {'stopAreaId': stopArea.id }) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-tag"></span> {{ 'stop_area.alias'|trans({}, 'default') }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        require(['core/datatables'], function() {
            datatable(false, '10');
        });
    </script>
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');  
        });
    </script>
    <script>
        require(['boa/stop_area/edit'], function() {
            init_autocomplete("#city", "#boa_stop_area_city", null);
            $("#city").val($("#boa_stop_area_city option:selected").text());
        });
    </script>
    <script>
        require(['jquery'], function() {
        $('#show-closed-stops').change(function() {
            if ($(this).is(":checked"))
                $(".closed-stop").fadeIn();
            else
                $(".closed-stop").fadeOut();
        });
    });
    </script>
{% endblock %}

