{% extends "::modal.html.twig" %}

{% block modal_title %}
    {{ title|trans ~ " " ~ stopArea.NameLabel }}
{% endblock %}

{% block modal_body %}
    <div class="form form-edit stop-area">
        <div class="col-md-12">
            <div class="row">
                <input type="hidden" id="stop-area-id" value="{{ stopArea.id }}">
                <div style="margin-bottom:5px" class="col-md-12"><span>{{ 'tisseo.boa.stop_area.label.transfer_duration'|trans }}</span></div>
                <div class="col-md-2"><input type="number" id="stop-area-transfer-duration" class="form-control" min="0" max="60" value="{{ stopArea.transferDuration }}"></div>
            </div>
        </div>
    </div>
    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
        <button type="submit" class="btn btn-success submit-internal-transfers" style="float:right">
            <span class="glyphicon glyphicon-pencil"></span>{{ 'tisseo.global.save'|trans }}
        </button>
    {% endif %}
    <div id="internal-transfers-list">
        <a id="transfers-header" class="header-ribbon">
            <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.transfer.header.intra'|trans }}
        </a>
        <table id="table_transfers" class="table table-hover">
            <thead>
                <th class="col-md-3">{{ 'tisseo.boa.transfer.label.start_stop'|trans }}</th>
                <th class="col-md-3">{{ 'tisseo.boa.transfer.label.end_stop'|trans }}</th>
                <th class="col-md-1.5">{{ 'tisseo.boa.transfer.label.duration'|trans }}</th>
                <th class="col-md-1.5">{{ 'tisseo.boa.transfer.label.distance'|trans }}</th>
                <th class="col-md-3">{{ 'tisseo.boa.transfer.label.long_name'|trans }}</th>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                <tr class="transfer">
                    <input type="hidden" class="transfer-id" name="id" value="{% if transfer.id %}{{ transfer.id }}{% endif %}">
                    <td>
                        {{ transfer.startStop.StopDisplayLabel }}
                        <input type="hidden" class="transfer-start-stop-id" name="startStopId" value="{{ transfer.startStop.id }}">
                    </td>
                    <td>
                        {{ transfer.endStop.StopDisplayLabel }}
                        <input type="hidden" class="transfer-end-stop-id" name="endStopId" value="{{ transfer.endStop.id }}">
                    </td>
                    <td>
                        <input type="number" class="form-control transfer-duration" name="duration" min="0" max="99" value="{% if transfer.duration %}{{ transfer.duration / 60 }}{% endif %}">
                    </td>
                    <td>
                        <input type="number" class="form-control transfer-distance" name="distance" min="0" value="{% if transfer.distance %}{{ transfer.distance }}{% endif %}">
                    </td>
                    <td>
                        <input type="text" class="form-control transfer-long-name" name="longName" value="{% if transfer.longName %}{{ transfer.longName }}{% endif %}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modal_actions %}
        <script>
            require(['boa/transfer/internal_transfer']);
        </script>
    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
        <button type="submit" class="btn btn-success submit-internal-transfers">
            <span class="glyphicon glyphicon-pencil"></span>{{ 'tisseo.global.save'|trans }}
        </button>
    {% endif %}
{% endblock %}
