{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoBoaBundle:Form:fields.html.twig' %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block modal_title %}
    {{ title|trans({}, 'default') ~ " " ~ stopAreaLabel }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
	{{ form_widget(form._token) }}
	
	<div class="row">
		<div class = "col-md-4"> {{ form_label(form.transferDuration) }} </div> 
		<div class = "col-md-1"> {{ form_widget(form.transferDuration) }} </div> 
	</div>
	
	<div>
		<div class="stop_table_header">{{ 'stop_area.labels.internal_transfert' | trans }}</div>
		<table 
			id='transfer_table'
			class="table table-hover dataTable no-footer"
		>
		<thead>
			<th>
				{{ render.stop_select(stops, "startStop_select", "stop_select", 'stop_area.transfer.columns.startStop' | trans, "") }}
			</th>
			<th>
				{{ render.stop_select(stops, "endStop_select", "stop_select", 'stop_area.transfer.columns.endStop' | trans, "") }}
			</th>
			<th>{{ 'stop_area.transfer.columns.duration' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.distance' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.longName' | trans }}</th>
			<th>{{ 'stop_area.transfer.columns.theGeom' | trans }}</th>
		</thead>
		<tbody></tbody>
		</table>
	</div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form, { 'render_rest': false}) }}
	<script>   
		require(['jquery'], function($) {		
			$('.modal-dialog').css('width', '1300px');
			var stoparea_id = "{{ stopArea.id }}";
			var stops = {};
			$('#startStop_select option').each(function(index,item){
				if ( index > 0 )
					stops[item.value] = item.text; 
			});
			
			function getTransferTR(transfers, index, startStop, endStop)
			{
				var htmlTR = "";
				var array_key = startStop["id"] + '.' + endStop["id"];
				var transfer = {};
				if( transfers[array_key] ) transfer = transfers[array_key];
				
				htmlTR += "<tr>";
				htmlTR += "<td>";
				if (transfer["id"]) htmlTR += "<input type='hidden' id='transfer_" + index  + "_id' name='transfer[" + index  + "][id]'  value='" +  transfer["id"]  + "'>";
				htmlTR += "<input type='hidden' id='transfer_" + index  + "_startStopId' name='transfer[" + index  + "][startStopId]' class='form-control' value='" +  startStop["id"]  + "'>";
				htmlTR += startStop["label"];				
				htmlTR += "</td>";
				
				htmlTR += "<td>";				
				htmlTR += "<input type='hidden' id='transfer_" + index  + "_endStopId' name='transfer[" + index  + "][endStopId]' class='form-control' value='" +  endStop["id"]  + "'>";				
				htmlTR += endStop["label"];				
				htmlTR += "</td>";
				
				$.each(["duration", "distance", "longName",  "theGeom"] , function(i, field) { 
					htmlTR += "<td><input type='text' id='transfer_" + index  + "_" + field + "' name='transfer[" + index  + "][" + field + "]' class='form-control'";
					if (transfer[field]) htmlTR += " value='" +  transfer[field]  + "'";
					htmlTR += "></td>";
				});
				
				return htmlTR;
			};
			
			function buildTransferTable(transfers) {
				var startStopId = $( "#startStop_select option:selected" ).val();
				if (startStopId) {
					var startStop = { "id" : startStopId, "label" : $( "#startStop_select option:selected" ).text() };
					var startStopLabel = $( "#startStop_select option:selected" ).text();
				}
				
				var endStopId = $("#endStop_select option:selected").val();
				if (endStopId) {
					var endStop = { "id" : endStopId, "label" : $( "#endStop_select option:selected" ).text() };
					var endStopLabel = $("#endStop_select option:selected").text();
				}
				
				var htmlBody = "";
				var index = 0;
				if (startStopId) {
					if (endStopId) {
						htmlBody += getTransferTR(transfers, index, startStop, endStop);
					} else {
						$( "#endStop_select option" ).each(function( endIndex, endStop ) {
							if ( endIndex > 0 ) {
								var endStop = { "id" : $(endStop).val(), "label" : $(endStop).text() };
								htmlBody += getTransferTR(transfers, index, startStop, endStop);
								index +=1;
							}
						});					
					}
				} else {
					$( "#startStop_select option" ).each(function( startIndex, startStop ) {
						if ( startIndex > 0 ) {
							var startStop = { "id" : $(startStop).val(), "label" : $(startStop).text() };
							if (endStopId) {
								htmlBody += getTransferTR(transfers, index, startStop, endStop);
								index +=1;
							} else {
								$( "#endStop_select option" ).each(function( endIndex, endStop ) {
									if ( endIndex > 0 ) {
										var endStop = { "id" : $(endStop).val(), "label" : $(endStop).text() };
										htmlBody += getTransferTR(transfers, index, startStop, endStop);
										index +=1;
									}
								});
							}
						}
					});
				}

				$("#transfer_table >tbody").html(htmlBody);
			};
			
			function getTransfer() {
				var startStopId = $( "#startStop_select" ).val();
				var endStopId = $( "#endStop_select" ).val();
			
				var url = "{{ path('tisseo_boa_json_internal_transfer') }}";
				var objData = {
					'stopAreaId': stoparea_id,
					'startStopId': startStopId,
					'endStopId': endStopId
				};

				$.ajax({ url: url, data : objData, type: 'POST',
					success : function(data){						
						buildTransferTable(JSON.parse(data.content));
						
						if($("#transfer_table >tbody >tr").length > 100) {
							alert("Pour pouvoir saisir des transfert, veuillez au préalable filtrer les données");
							$(document).find("#transfer_table >tbody :input").prop('disabled', true);
						}
						
						
					}
				});
				
				
				
			};
			
			$( ".stop_select" ).change(function () {
				getTransfer();
			});
			
			getTransfer();
		});
    </script>		
{% endblock %}
