{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}

{% block main_content %}
    <h1>{{ 'stop_area.list.title'|trans({}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
        -
        <a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'stop_area.create'|trans({}, 'default') }}
        </a>
    {% endif %}
    </h1>
    
    <div class="col-md-8">
        <span>{{ 'stop.list.search'|trans({}, 'default') }}</span>
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="stoparea-search" class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}">
            </div>
            <div class="col-md-2">
                <a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-default" id="stoparea-edit" data-stop="" disabled="disabled">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/stop/search'], function() {
            init_autocomplete('#stoparea-search', '#stoparea-edit');
        });
    </script>
{% endblock %}
