{% extends "TisseoBoaBundle::container.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/stop_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
    <h1>{{ title|trans({}, 'default') }}</h1>
	<br>
	<div class="col-md-12">
        {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
		<div class = "row">
			<div class = "col-md-4">
				<a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-success" id="new_stop">
					<span class="glyphicon glyphicon-plus"></span> {{'stop_area.create'|trans({}, 'default')}}
				</a>
			</div>
		</div>
		<br>
        {% endif %}
		<div class = "row">
			<div class = "col-md-4">
				<input type="hidden" id="stop_area_id">
				<input type="text" id="stop_area_search"  class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}">
			</div>
			<div class = "col-md-4">
				<a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-success" id="stop_area_btn">
					<span class="glyphicon glyphicon-check"></span> {{'stop.validate'|trans({}, 'default')}}
				</a>
			</div>				
		</div>
	</div>
{% endblock %}

{% block javascripts %}
   <script>
		require(['jquery', 'jquery_ui_autocomplete'], function($) {

			$("#stop_area_search").autocomplete({
				source: function (request, response) {
					var objData = { term: request.term };
					var url = $(this.element).attr('data-url');
					$.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
						success: function (data) {
							response($.map(JSON.parse(data.content), function (item) {									
								return {				
									label: item.name, 
									value: item.name, 
									id: item.id
								};
							}));
						},
					});
				},
				select: function (event, ui) {
					$("#stop_area_id").val(ui.item.id);
				},					
				minLength: 3,
				delay: 300
			});
			
			$( "#stop_area_btn" ).click(function() {
				var stop_area_id = $("#stop_area_id").val();
				if(stop_area_id == '') {
					alert( "Vous n'avez pas sélectionné de zone d'arrêt valide." );
					return false;
				}
				$(this).attr("href", $(this).attr("href") + "/" + stop_area_id);
			});
			
		 });
    </script>
{% endblock %}
