{% extends "TisseoCoreBundle::generic_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}

{% block list_title %}
    {{ parent() }}
    {% if (is_granted('BUSINESS_MANAGE_STOPS')) %}
        -
        <a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.stop_area.action.create'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <span>{{ 'tisseo.boa.stop_area.title.search'|trans }}</span>
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="stoparea-search" class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}">
            </div>
            <div class="col-md-2">
                <a href="{{ path('tisseo_boa_stop_area_edit') }}" class="btn btn-default" id="stoparea-edit" data-stop="" disabled="disabled">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/stop/search'], function() {
            init_autocomplete('#stoparea-search', '#stoparea-edit');
        });
    </script>
{% endblock %}
