{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set datatable = true %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block main_content %}
    <h1>
        {{ 'line_version.list.title'|trans({}, 'default') }}
    </h1>

    {# TODO: datatables provides this functionality : https://datatables.net/examples/api/multi_filter_select.html #}
    {% if lineVersions is not empty %}
    <div id="filter" class="form-inline list-unstyled" style="margin-bottom:20px;">
            <select id="datasource" class="form-control" name="datasource">
                <option value="" selected style="color:grey;">{{ 'line_version.list.filter.datasource'|trans({}, 'default') }}</option>
                {% for d in datasources %}
                    <option value="{{ d.name }}">{{ d.name }}</option>
                {% endfor %}
            </select>
            <input type="text" id="date" class="form-control" name="date" placeHolder="{{ 'line_version.list.filter.date'|trans({}, 'default') }}">
    </div>
    {% endif %}

    <table id="datatable" class="table datatable" role="grid" aria-describedby="datatable_info">
        <thead>
            <th class="col-md-1">{{ 'line_version.list.columns.number'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'line_version.list.columns.mode'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'line_version.list.columns.version'|trans({}, 'default') }}</th>
            <th class="col-md-2 no-sort">{{ 'line_version.list.columns.datasource'|trans({}, 'default') }}</th>
            <th class="col-md-2 no-sort">{{ 'line_version.list.columns.startDate'|trans({}, 'default') }}</th>
            <th class="col-md-2 no-sort">{{ 'line_version.list.columns.endDate'|trans({}, 'default') }}</th>
            <th class="col-md-3 no-sort no-search">{{ 'global.actions'|trans }}</th>
        </thead>
        <tbody>
        {% for lineVersion in lineVersions %}
            {% set timecardViewAvailable = none %}
            <tr>
                <td>{{ render.line_number(lineVersion, 'lineVersion', 'free') }}</td>
                <td>{{ lineVersion.line.physicalMode.name }}</td>
                <td>{{ lineVersion.version }}</td>
                <td>
                    {% for lineDatasource in lineVersion.line.lineDatasources %}
                        {{ lineDatasource.datasource.name }}
                        {% if lineDatasource.datasource.name == 'HASTUS' %}
                            {% set timecardViewAvailable = false %}
                        {% else %}
                            {% set timecardViewAvailable = true %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ lineVersion.startDate.date | date('d/m/Y') }}</td>
                <td>{{ lineVersion.plannedEndDate.date | date('d/m/Y') }}</td>
                <td>
                    {% if (is_granted(['BUSINESS_MANAGE_ROUTES', 'BUSINESS_VIEW_ROUTES'])) %}
                        {% if timecardViewAvailable %}
                        <a class="btn btn-default" href="{{ path('tisseo_boa_route_trip_calendar', {'lineVersionId': lineVersion.id}) }}">
                            <span class="glyphicon glyphicon-calendar"></span> {{ 'line_version.actions.calendar'|trans({}, 'default') }}
                        </a>
                        {% endif %}
                        <a class="btn btn-default" href="{{ path('tisseo_boa_route_list', {'lineVersionId': lineVersion.id}) }}">
                            <span class="glyphicon glyphicon-list"></span> {{ 'line_version.actions.route_list'|trans({}, 'default') }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        require(['core/datatables'], function() {
            datatable(false);   
        });
    </script>
    {# TODO: JS SCRIPT  + EMPTY DATE VALUE UPDATE + FILTER #}
    <script>
        require(['jquery', 'bootstrap/datepicker', 'bootstrap/datepicker/fr', 'core/datatables'], function($) {
            $('#filter').find('input[id=date]').datepicker({
                language: 'fr',
                todayHighlight: true,
                autoclose: true
            })
            .on('changeDate', function() {
                $('.datatable').DataTable().draw();
            });

            $(document).on('change', '#datasource', function() {
                $('.datatable').DataTable().draw();
            });

            function convertStringToDate(dateString) {
                var d = dateString.split("/");
                return new Date(d[2], d[1] - 1, d[0]);
            }

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    if( !$('#date').val() && !$('#datasource').val() ) return true;

                    var lineDatesValid = true;
                    if( $('#date').val() ) {
                        var date = convertStringToDate($('#date').val());
                        var startDate = convertStringToDate(data[4]);
                        var endDate = convertStringToDate(data[5]);

                        lineDatesValid = ( date.getTime() >= startDate.getTime() && date.getTime() <= endDate.getTime() );
                    }

                    if( !$('#datasource').val() ) return lineDatesValid;

                    var selectedDatasource = $('#datasource').val();
                    var currentDatasource = data[3];

                    return lineDatesValid && ( selectedDatasource == currentDatasource );
                }
            );
            $(document).ready(function() {
                $('#datasource').val('Service Données');
                $('#datasource').trigger('change');
            });
        });
    </script>
{% endblock %}
