{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set leaflet = true %}
{% set margin = '10' %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_stop_search') }}">
        {{ 'tisseo.boa.stop_point.title.search'|trans }}
    </a>
{% endblock %}

{% set accessibilityCalendar = form.vars.data.accessibilityCalendar %}

{% block content %}
    {% import "TisseoCoreBundle::macros.html.twig" as render %}
    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.edit_form'|trans }}
    </a>
    <div class="panel col-md-12">
        <div class="col-md-5">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.shortName) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.longName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{ form_label(form.stopArea) }}
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_widget(form.stopArea, { 'attr': {'class': 'hide'}}) }}
                            {% if is_granted('BUSINESS_MANAGE_STOPS') %}
                                <input type="text" id="stop_area" class="form-control" style="margin-bottom:15px;" data-url="{{ path('tisseo_boa_json_stop_area') }}">
                            {% else %}
                                <input type="text" id="stop_area" class="form-control" style="margin-bottom:15px;" disabled>
                            {% endif %}
                        </div>
                        {% if form.vars.data.stopArea %}
                        <div class="col-md-2">
                            <a id="stop-area-edit" class="btn btn-default" href="{{ path('tisseo_boa_stop_area_edit', {'stopAreaId': form.stopArea.vars.data.id}) }}">
                                <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.consult'|trans }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if form.vars.data.masterStop %}
                <div class="row">
                    <div class="col-md-10">
                        <label class="control-label">{{ 'tisseo.boa.stop_point.label.master_stop'| trans }}</label>
                        <div class="row">
                            <div class="col-md-10">{{ form.vars.data.masterStop.StopDisplayLabel }}</div>
                            <div class="col-md-2">
                                <a id="master-stop-edit" class="btn btn-default" href="{{ path('tisseo_boa_stop_edit', {'stopId': form.vars.data.masterStop.id}) }}">
                                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.consult'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% for datasource in form.stopDatasources %}
            <div class="row">
                <div class="col-md-5">
                    {{ form_row(datasource.datasource) }}
                </div>
                <div class="col-md-7">
                    {{ form_row(datasource.code) }}
                </div>
            </div>
            {% endfor %}

            {% if is_granted('BUSINESS_MANAGE_STOPS') %}
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                        </button>
                        <a href="" class="btn btn-default">
                            <span class="glyphicon glyphicon-repeat"></span> {{ 'tisseo.global.cancel'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {{ form_end(form) }}
            <div class="row">
                <div class="col-md-12">
                    {% if lines is empty %}
                        <label style="margin-top:20px; margin-left:5px">{{ 'tisseo.boa.stop_point.message.no_lines'|trans }}</label>
                    {% else %}
                        <label style="margin-top:15px; margin-left:5px">{{ 'tisseo.boa.stop_point.label.lines'|trans }}</label>
                        <br>
                        <div style="display:inline-block">
                            <div style="height:1px; background-color:black; margin-bottom:5px"></div>
                            <div style="margin:0 5px">
                                {% for line in lines %}
                                    <a class="link-line-version" href="{{ path('tisseo_boa_route_list', {'lineVersionId': line.lastLineVersion.id}) }}">
                                        {{ render.line_number(line, 'line', 'free') }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if phantoms is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <label style="margin-top:15px; margin-left:5px">{{ 'tisseo.boa.stop_point.label.phantoms'|trans }}</label>
                    <br>
                    <div style="display:inline-block">
                        <div style="height:1px; background-color:black; margin-bottom:5px"></div>
                        <div style="margin:0 5px">
                            {% for phantom in phantoms %}
                                <a class="link-line-version" href="{{ path('tisseo_boa_stop_edit', {'stopId': phantom.id}) }}">
                                    {{ phantom.stopDatasources.count > 0 ? phantom.stopDatasources.first.code : phantom.id }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-7">
            <div id="leaflet-map-container" style="float:right"></div>
        </div>
    </div>

    {% if not form.vars.data.lock %}
        <a id="stop-history" class="header-ribbon">
            <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.stop_history'|trans }}
        </a>
    {% else %}
        <a id="stop-history" class="header-ribbon alert-ribbon">
            <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.stop_history'|trans }} <b>({{ 'tisseo.global.locked'|trans }})</b>
        </a>
    {% endif %}
    <div class="panel col-md-12">
        <table id="stop-history" class="table datatable table-hover">
            <thead>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.short_name'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.long_name'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.start_date'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.end_date'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.x'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.y'|trans }}</th>
            </thead>
            <tbody>
            {% for stopHistory in stopHistories %}
            <tr>
                <td>{{ stopHistory.shortName }}</td>
                <td>{{ stopHistory.longName }}</td>
                <td>{{ stopHistory.startDate|date("d/m/Y") }}</td>
                <td>{% if stopHistory.endDate is not empty %}{{ stopHistory.endDate|date("d/m/Y") }}{% endif %}</td>
                <td>{{ stopHistory.theGeom.x }}</td>
                <td>{{ stopHistory.theGeom.y }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('BUSINESS_MANAGE_STOPS') %}
            <a href="{{ path('tisseo_boa_stop_history_create', {'stopId': form.vars.data.id }) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
            </a>
            {% if form.vars.data.Closable %}
            <a class="btn btn-default" href="{{ path('tisseo_boa_stop_history_close', {'stopId': form.vars.data.id }) }}"  data-toggle="modal" data-target="#base-modal">
                <span class="glyphicon glyphicon-calendar"></span> {{ 'tisseo.global.closure'|trans }}
            </a>
            {% endif %}
            {% if form.vars.data.lock %}
                <a class="btn btn-warning" href="{{ path('tisseo_boa_stop_switch_lock', {'identifier': form.vars.data.id }) }}">
                    <span class="glyphicon glyphicon-lock"></span> {{ 'tisseo.global.unlock'|trans }}
                </a>
            {% else %}
                <a class="btn btn-danger" href="{{ path('tisseo_boa_stop_switch_lock', {'identifier': form.vars.data.id }) }}">
                    <span class="glyphicon glyphicon-lock"></span> {{ 'tisseo.global.lock'|trans }}
                </a>
            {% endif %}
        {% endif %}
    </div>

    <a id="stop-accessibility" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.stop_accessibility'|trans }}
    </a>

    {% if not accessibilityCalendar %}
        <div style="text-align:center; margin: 10px 0">
            <b>{{ 'tisseo.boa.stop_point.message.no_accessibility_calendar'|trans }}</b>
        </div>
    {% else %}
        <div class="panel col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <span style="display:inline-block; margin:8px 0" class="bold">{{ 'tisseo.boa.stop_point.label.accessibility_calendar'|trans }}</span>
                    <br>
                    <a target="_blank" href="{{ path('tisseo_boa_calendar_edit', {'calendarId': accessibilityCalendar.id}) }}">
                        {{ accessibilityCalendar.name }}
                    </a>
                    <div style="margin-top:30px">
                        <div class="legend green"></div>
                        <span>{{ 'tisseo.boa.stop_point.label.accessible'|trans }}</span>
                        <br>
                        <div class="legend red"></div>
                        <span>{{ 'tisseo.boa.stop_point.label.not_accessible'|trans }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="calendar-view" data-url="{{ path('tisseo_boa_calendar_bitmask') }}"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['core/leaflet_utils'], function() {
            init_map_with_stops({{ stopsJson|raw }}, false);
        });

        require(['boa/stop/edit'], function() {
            init_autocomplete("#stop_area", "#boa_stop_edit_stopArea", "#stop-edit");
            $("#stop_area").val($("#boa_stop_edit_stopArea option:selected").text());

            //accessibility Calendar
            {% if accessibilityCalendar %}
                var startDate = new Date("{{ accessibilityCalendar.computedStartDate|date("Y-m-d") }}");
                var endDate = new Date("{{ accessibilityCalendar.computedEndDate|date("Y-m-d") }}");
                var calendarId = {{ accessibilityCalendar.id }}
                initCalendar(calendarId, startDate, endDate);
            {% endif %}
        });
    </script>
{% endblock %}
