{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set margin = '10' %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_stop_search') }}">
        {{ 'tisseo.boa.stop_point.title.search'|trans }}
    </a>
{% endblock %}

{% block content %}
    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.edit_form'|trans }}
    </a>
    <div class="panel col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.shortName) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.longName) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.stopArea) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_widget(form.stopArea, { 'attr': {'class': 'hide'}}) }}
                        <input type="text" id="stop_area" class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}">
                    </div>
                    <div class="col-md-2">
                        <a id="stop-area-edit" class="btn btn-default" href="{{ path('tisseo_boa_stop_area_edit', {'stopAreaId': form.stopArea.vars.data.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.masterStop) }}
            </div>
        </div>

        {% for datasource in form.stopDatasources %}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(datasource.datasource) }}
            </div>
            <div class="col-md-3">
                {{ form_row(datasource.code) }}
            </div>
        </div>
        {% endfor %}
    
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                </button>
                <a href="" class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat"></span> {{ 'tisseo.global.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <a id="stop-history" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.stop_point.header.stop_history'|trans }}
    </a>
    <div class="panel col-md-12">
        <table id="stop-history" class="table datatable table-hover">
            <thead>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.short_name'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.long_name'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.start_date'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.end_date'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.x'|trans }}</th>
                <th class="col-md-2">{{ 'tisseo.boa.stop_history.label.y'|trans }}</th>
            </thead>
            <tbody>
            {% for stopHistory in stopHistories %}
            <tr>
                <td>{{ stopHistory.shortName }}</td>
                <td>{{ stopHistory.longName }}</td>
                <td>{{ stopHistory.startDate|date("d/m/Y") }}</td>
                <td>{% if stopHistory.endDate is not empty %}{{ stopHistory.endDate|date("d/m/Y") }}{% endif %}</td>
                <td>{{ stopHistory.theGeom.x }}</td>
                <td>{{ stopHistory.theGeom.y }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('tisseo_boa_stop_history_create', {'stopId': stop.id }) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
        </a>
        {% if stop.Closable %}
        <a class="btn btn-default" href="{{ path('tisseo_boa_stop_history_close', {'stopId': stop.id }) }}"  data-toggle="modal" data-target="#base-modal">
            <span class="glyphicon glyphicon-lock"></span> {{ 'tisseo.global.closure'|trans }}
        </a>
        {% endif %}
    </div>

    {# phantoms 
    {% if phantoms is not empty and form.masterStop is empty %}
        <div>
            <div class="stop_table_header">{{ 'stop.phantom.header' | trans }}</div>
            <table class="table table-hover dataTable no-footer">
            <thead>
                <th>{{ 'stop.phantom.columns.agency' | trans }}</th>
                <th>{{ 'stop.phantom.columns.stop' | trans }}</th>
                <th>{{ 'stop.phantom.columns.code' | trans }}</th>
            </thead>
            <tbody>
            {% for f in phantoms %}
                <tr>
                    <td>{{ f.stopDatasources[0].datasource.name }}</td>
                    <td>{{ f.getShortLabel }}</td>
                    <td>{{ f.stopDatasources[0].code }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
    #}

    {# stop accessibility #}

{#    <div>
        {% if form.masterStop.vars.value is empty %}
            <div class="stop_table_header">
                {{ 'tisseo.boa.stop_point.accessibility.header' | trans }}
            </div>
        {% else %}
            <div class="stop_table_header" style="7background-color: #666666">
                {{ 'stop.accessibility.phantom_header' | trans  ~ " " ~ masterStopLabel }}
            </div>
        {% endif %}

        <table class="table table-hover dataTable no-footer">
        <thead>
            <th>{{ 'stop.accessibility.columns.startTime' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.endTime' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.isRecursive' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.accessibilityMode' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.calendar' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.startDate' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.endDate' | trans }}</th>
            <th>{{ 'stop.accessibility.columns.datasource' | trans }}</th>
                <th>Action</th>
        </thead>
        <tbody>

    {% if form.masterStop.vars.value is not empty %}
        {% set list_accessibility = phantomAccessibilities %}
    {% else %}
        {% set list_accessibility = accessibilities %}
    {% endif %}

    {% if list_accessibility is not empty %}
        {% for sa in list_accessibility %}
            <tr>
                <td>
                {% if sa.accessibilityType.startTime is not empty %}
                    {{ sa.accessibilityType.startTime|date("H:i") }}
                {% endif %}
                </td>
                <td>
                {% if sa.accessibilityType.endTime is not empty %}
                    {{ sa.accessibilityType.endTime|date("H:i") }}
                {% endif %}
                </td>
                <td>
                    {% if sa.accessibilityType.isRecursive is not empty %}
                        {% if sa.accessibilityType.isRecursive == 1 %}
                            {{ 'stop.accessibility.isRecursive' | trans }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ sa.accessibilityType.accessibilityMode.name }}</td>
                <td>{{ sa.accessibilityType.calendar.name }}</td>
                <td>{{ sa.accessibilityType.calendar.computedStartDate.date|date("d/m/Y") }}</td>
                <td>{{ sa.accessibilityType.calendar.computedEndDate.date|date("d/m/Y") }}</td>
                <td>{{ sa.accessibilityType.calendar.calendarDatasources[0].datasource.name }}</td>
                    {% if  phantomAccessibilities is empty %}
                        {% if  sa.accessibilityType.calendar.computedStartDate.date|date("Ymd") > now|date("Ymd") %}
                            {% if   sa.accessibilityType.calendar.calendarDatasources[0].datasource.name != "HASTUS" %}
                                <td>
                                <a class="btn btn-default"
                                    href="{{ path('tisseo_boa_stop_accessibility_delete', {'stopId': stop.id, 'StopAccessibilityId': sa.id }) }}">
                                    <span class="glyphicon glyphicon-remove"></span> {{'global.delete'|trans}}
                                </a>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
        </table>
    </div>
        {% if form.masterStop.vars.value is empty %}
            <div class = "col-md-2">
                    <a href="{{ path('tisseo_boa_stop_accessibility_new', {'stopId': stop.id }) }}"  data-toggle="modal" data-target="#base-modal" class="btn btn-success" id="new_accessibility">
                        <span class="glyphicon glyphicon-plus"></span>  {{ 'stop.modifyAccessibility' | trans }}
                    </a>
            </div>
        {% endif %}
    #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['boa/stop/edit'], function() {
            init_autocomplete("#stop_area", "#boa_stop_edit_stopArea", "#stop-edit");
            $("#stop_area").val($("#boa_stop_edit_stopArea option:selected").text());
        });
    </script>
{% endblock %}
