{% extends "TisseoBoaBundle::container2.html.twig" %}

{% macro getStopName(stopHistories) %}
	{% for sh in stopHistories if ( sh.startDate.date|date('Ymd') <= 'now'|date('Ymd') and ( sh.endDate is empty or sh.endDate.date|date('Ymd') <= 'now'|date('Ymd') ) ) %}
		{{ sh.shortName }}
	{% endfor %}
{% endmacro %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/stop_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content %}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <hr/>

	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form._token) }}
		{{ form_widget(form.id, { 'attr': {'class': 'hide'}}) }}
		
		<div class="row">
			<div class = "col-md-2"> {{ form_label(form.short_name) }} </div>
			<div class = "col-md-4"> {{ form_widget(form.short_name, {'attr': {"readonly":true, "disabled":true}}) }} </div> 
		</div>
		<div class="row">
			<div class = "col-md-2"> {{ form_label(form.long_name) }} </div>
			<div class = "col-md-4"> {{ form_widget(form.long_name, {'attr': {"readonly":true, "disabled":true}}) }} </div>
		</div>
		
		{# stop area #}
		<div  class="row">
			<div class = "col-md-2"> {{ form_label(form.stopArea) }} </div>
			<div class = "col-md-4">
				{{ form_widget(form.stopArea, { 'attr': {'class': 'hide'}}) }}
				<input type="text" id="stop_area"  class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}">
			</div>
{#			
			<div class = "col-md-2">
				<a href="" class="btn btn-success" id="new_stop">
					<span class="glyphicon glyphicon-zoom-in"></span> {{'stop.see'|trans({}, 'default')}}
				</a>
			</div>
#}			
		</div>

		{# datasources #}
		<div class="row">
			{% set datasource = form.stopDatasources[0] %}
			<div class = "col-md-2"> {{ form_label(form.stopDatasources) }} </div>			
			<div class = "col-md-3">
				{{ form_widget(datasource.datasource) }} 
			</div>
			<div class = "col-md-3">
				{{ form_widget(datasource.code) }} 
			</div>
		</div>
		
		{# masterStop #}
		<div  class="row">
			<div class = "col-md-2"> {{ form_label(form.masterStop) }} </div>
			<div class = "col-md-4">
				{{ form_widget(form.masterStop, { 'attr': {'class': 'hide'}}) }}
				<input type="text" id="master_stop"  class="form-control" data-url="{{ path('tisseo_boa_json_stop') }}" value='{{ masterStopLabel }}'>
			</div>
		</div>

		{# form buttons #}
		<div class="row" style="padding: 10px 0 0">
			<div class = "col-md-2 col-md-offset-3">
				<button type="submit" id="save-form" class="btn btn-success">
					<span class="glyphicon glyphicon-pencil"></span>
					 {{'global.save'|trans}}
				</button>			
			</div>
			<div class = "col-md-2">
				<a href="" class="btn btn-success" id="reset">
					<span class="glyphicon glyphicon-repeat"></span> Annuler
				</a>
			</div>
		</div>
				
		{# phantoms #}
		{% if phantoms is not empty and form.masterStop is empty %}
			<div>
				<div class="stop_table_header">Fantomes</div>
				<table class="table table-hover dataTable no-footer">
				<thead>			
					<th>Réseau</th>
					<th>Arrêt</th>
					<th>Code</th>
				</thead>
				<tbody>
				{% for f in phantoms %}
					<tr>
					<td>{{ f.stopDatasources[0].datasource.name }}</td>
					<td>{{ _self.getStopName(f.stopHistories) }}</td>
					<td>{{ f.stopDatasources[0].code }}</td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
		{% endif %}

		{# stop history #}
		<div>
			<div class="stop_table_header">Historique</div>
			<table class="table table-hover dataTable no-footer">
			<thead>			
				<th>Du</th>
				<th>Au</th>
				<th>Nom</th>
				<th>Nom long</th>
				<th>X</th>
				<th>Y</th>
			</thead>
			<tbody>
			{% for sh in stopHistories %}
				<tr>
				<td> {{ sh.startDate|date("d/m/Y") }} </td>
				<td>
				{% if sh.endDate is not empty %}
					{{ sh.endDate|date("d/m/Y") }}
				{% endif %}
				</td>
				<td>{{ sh.shortName }}</td>
				<td>{{ sh.longName }}</td>
				<td>{{ sh.theGeom.x }}</td>
				<td>{{ sh.theGeom.y }}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		
		{# stop accessibility #}
		{% if accessibilities is not empty %}
			<div>
				<div class="stop_table_header">Accessibilité</div>
				<table class="table table-hover dataTable no-footer">
				<thead>
					<th>{{ 'stop.accessibility.columns.startTime' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.endTime' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.isRecursive' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.accessibilityMode' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.calendar' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.startDate' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.endDate' | trans }}</th>
					<th>{{ 'stop.accessibility.columns.datasource' | trans }}</th>
				</thead>
				<tbody>
					{% for sa in accessibilities %}
						<tr>
							<td>
							{% if sa.accessibilityType.startTime is not empty %}
								{{ sa.accessibilityType.startTime|date("H:i") }}
							{% endif %}
							</td>
							<td>
							{% if sa.accessibilityType.endTime is not empty %}
								{{ sa.accessibilityType.endTime|date("H:i") }}
							{% endif %}
							</td>
							<td>{{ sa.accessibilityType.isRecursive }}</td>
							<td>{{ sa.accessibilityType.accessibilityMode.name }}</td>
							<td>{{ sa.accessibilityType.calendar.name }}</td>
							<td>{{ sa.accessibilityType.calendar.computedStartDate.date|date("d/m/Y") }}</td>
							<td>{{ sa.accessibilityType.calendar.computedEndDate.date|date("d/m/Y") }}</td>
							<td>{{ sa.accessibilityType.calendar.calendarDatasources[0].datasource.name }}</td>
						</tr>
					{% endfor %}				
				</tbody>
				</table>
			</div
		{% endif %}

		{{ form_end(form, { 'render_rest': false} ) }}
{% endblock %}

{% block javascripts %}
   <script>
		require(['jquery', 'jquery_ui_autocomplete'], function($) {

			$("#stop_area").autocomplete({
				source: function (request, response) {
					var objData = { term: request.term };
					var url = $(this.element).attr('data-url');
					$.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
						success: function (data) {
							response($.map(JSON.parse(data.content), function (item) {									
								return {				
									label: item.name, 
									value: item.name, 
									id: item.id
								};
							}));
						},
					});
				},
				select: function (event, ui) {
					$("#boa_stop_stopArea").val(ui.item.id);
				},					
				minLength: 3,
				delay: 300
			});

			$("#master_stop").autocomplete({
				source: function (request, response) {
					var objData = { term: request.term };
					var url = $(this.element).attr('data-url');
					$.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
						success: function (data) {
							response($.map(JSON.parse(data.content), function (item) {									
								return {				
									label: item.name, 
									value: item.name, 
									id: item.id
								};
							}));
						},
					});
				},
				select: function (event, ui) {
					$("#boa_stop_masterStop").val(ui.item.id);
				},					
				minLength: 3,
				delay: 300
			});


			
			$("#stop_area").val($("#boa_stop_stopArea option:selected").text());
		 });
    </script>
{% endblock %}

