{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoBoaBundle:Form:fields.html.twig' %}

{% block modal_title %}
    {{ title|trans({}, 'default') }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
	{{ form_widget(form._token) }}
	
	<div class="row"><div class="col-md-12">{{ form_row(form.stopHistories[0].shortName) }}</div></div>
	<div class="row"><div class="col-md-12">{{ form_row(form.stopHistories[0].longName) }}</div></div>
	<div class="row"><div class="col-md-12">{{ form_row(form.stopHistories[0].startDate) }}</div></div>
	<div class="row">
		<div class="col-md-6">{{ form_row(form.stopDatasources[0].datasource) }}</div>
		<div class="col-md-6">{{ form_row(form.stopDatasources[0].code) }}</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.stopArea) }}
				{{ form_widget(form.stopArea, { 'attr': {'class': 'hide'}}) }}	
				<input type="text" id="stop_area"  class="form-control" data-url="{{ path('tisseo_boa_json_stop_area') }}" required>
			</div>
		</div>
	</div>

	<div class="row"><div class="col-md-12">{{ form_row(form.x) }}</div></div>
	<div class="row"><div class="col-md-12">{{ form_row(form.y) }}</div></div>
	<div class="row"><div class="col-md-12">{{ form_row(form.srid) }}</div></div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>
    {{ form_end(form, { 'render_rest': false}) }}
	
   <script>
		require(['boa/stop/utils', 'bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function(utils) {
			 $(document).ready(function() {
			 	utils.init_autocomplete("#stop_area", "#boa_new_stop_stopArea");
				
				{# call from stop area form #}
				{% if stopArea is not empty %}
					$("#boa_new_stop_stopHistories_0_shortName").val("{{ stopArea.shortName|e('js') }}");
					$("#boa_new_stop_stopHistories_0_longName").val("{{ stopArea.longName|e('js') }}");
					$('#boa_new_stop_stopArea option[value={{ stopArea.id }}]').attr('selected', 'selected');
					$("#stop_area").val($('#boa_new_stop_stopArea option[value={{ stopArea.id }}]').text());
				{% endif %}

				$(".readonly").keydown(function(e){
					e.preventDefault();
				});

				var previousDate;
				$('#boa_new_stop_stopHistories_0_startDate').datepicker({
					language: '{{ app.request.locale }}',
					todayHighlight: true,
					autoclose: true
				})
				// Save date picked
				.on('show', function () {
					previousDate = $(this).val();
				})
				// Replace with previous date if no date is picked or if same date is picked to avoid toggle error
				.on('hide', function () {
					if ($(this).val() === '' || $(this).val() === null) {
						$(this).val(previousDate).datepicker('update');
					}
				});
			});
		 });
    </script>		
{% endblock %}
