{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block list_title -%}
    {{ 'datasource.list.title'|trans({}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
        -
        <a href="{{ path('tisseo_boa_datasource_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'datasource.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-6">{{ 'datasource.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-sm-4">{{ 'datasource.list.columns.agency'|trans({}, 'default') }}</th>
    <th class="col-sm-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for datasource in datasources %}
        <tr>
            <td>{{ datasource.name }}</td>
            <td>{{ datasource.agency.name }}</td>
            <td>
            {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
                <a class="btn btn-default" href="{{ path('tisseo_boa_datasource_edit', {'datasourceId': datasource.id}) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
