{% set granted = is_granted('BUSINESS_MAANAGE_CALENDARS') %}
<div id="calendar-elements-list" class="panel col-md-12" data-calendar-id="{{ calendar.id }}">
    <div id="error-container" class="alert alert-danger alert-dismissable danger hidden"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
    <table id="table-calendar-elements" class="table table-hover sort">
        <thead>
            <th class="col-md-1">{{ 'tisseo.boa.calendar_element.label.rank'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.calendar_element.label.start_date'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.calendar_element.label.end_date'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.calendar_element.label.included_calendar'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.calendar_element.label.operator'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.calendar_element.label.interval'|trans }}</th>
            {% if granted %}<th class="col-md-1">{{ 'tisseo.global.actions'|trans }}</th>{% endif %}
        </thead>
        <tbody>
        {% set rank = 1 %}
        {% for calendarElement in calendar.calendarElements %}
            <tr class="calendar-element">
                <input type='hidden' class="calendar-element-id" name="id" value="{{ calendarElement.id }}">
                <td class="calendar-element-rank">{{ calendarElement.rank }}</td>
                <td>{{ calendarElement.startDate|date('d/m/Y') }}</td>
                <td>{{ calendarElement.endDate|date('d/m/Y') }}</td>
                <td>
                {% if calendarElement.includedCalendar %}
                    <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': calendarElement.includedCalendar.id}) }}">{{ calendarElement.includedCalendar.name }}</a>
                {% endif %}
                </td>
                <td>{{ calendarElement.operator }}</td>
                <td>{{ calendarElement.interval }}</td>
                {% if granted %}
                <td>
                    <button class="btn btn-xs btn-danger small-button delete-calendar-element"><span class="glyphicon glyphicon-minus"></span></button>
                    <input type='hidden' value="{{ calendarElement.includedCalendar.id }}">
                </td>
                {% endif %}
            </tr>
            {% if loop.last %}
                {% set rank = calendarElement.rank + 1 %}
            {% endif %}
        {% endfor %}
        </tbody>
        {% if granted %}
            <tbody>
                <tr class="new-calendar-element">
                    {{ render(controller('TisseoBoaBundle:CalendarElement:renderForm', {'calendarId': calendar.id, 'rank': rank})) }}
                </tr>
            </tbody>
        {% endif %}
    </table>
    {% if granted %}
        <br>
        <button id="submit-calendar-elements" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
        </button>
        <button id="delete-calendar-elements" type="submit" class="btn btn-danger pull-right{% if calendar.calendarElements is empty %} hidden{% endif %}">
            <span class="glyphicon glyphicon-remove"></span> {{ 'tisseo.global.delete_all'|trans }}
        </button>
    {% endif %}
</div>
