{% form_theme form 'TisseoCoreBundle:Form:noErrorMessagesFields.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}
<td>{{ form_widget(form.rank) }}</td>
<td>{{ form_widget(form.startDate) }}</td>
<td>{{ form_widget(form.endDate) }}</td>
<td><input type="text" id="calendar-search" class="form-control input-sm" data-url="{{ path('tisseo_boa_json_calendars', {'calendarType': 'periode,jour,brique'}) }}"></td>
<td>{{ form_widget(form.operator) }}</td>
<td>{{ form_widget(form.interval) }}</td>
<td>
    <button id="apply-calendar-element-form" type="submit" class="btn btn-success small-button">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    {{ form_widget(form.calendar) }}
</td>
{{ form_end(form) }}
