<td>
	{{ form_widget(form.rank, {'attr': {"readonly":true}}) }}
</td>
<td>
	{{ form_widget(form.startDate) }}
</td>
<td>
	{{ form_widget(form.endDate) }}
</td>
<td>
	{{ form_widget(form.includedCalendar, {
				'attr': {
					'data-id' : 'calendar',
					'data-url' : path('tisseo_boa_json_calendars')
				}} ) 
	}}
</td>
<td>
	{{ form_widget(form.operator) }}
</td>
<td>
	{{ form_widget(form.interval) }}
</td>
