<td>
	{{ form_widget(form.rank, {'attr': {"readonly":true}}) }}
</td>
<td>
	{{ form_widget(form.startDate, { 'attr': {'class': 'element-date'} }) }}
</td>
<td>
	{{ form_widget(form.endDate, { 'attr': {'class': 'element-date'} }) }}
</td>
<td>
	{{ form_widget(form.includedCalendar, { 'attr': {'class': 'hide'} }) }}
	{{ form_widget(form.calendarName, {
				'attr': {
					'data-id' : 'calendar',
					'data-url' : path('tisseo_boa_json_calendars'),
					'mapped': false
				}} ) 
	}}
</td>
<td>
	{{ form_widget(form.operator) }}
</td>
<td>
	{{ form_widget(form.interval) }}
</td>
