{% for odtStop in odtStops %}
    <tr class="odt-stop">
        {% set stopId = ((odtStop.stop.masterStop is empty) ? odtStop.stop.id : odtStop.stop.masterStop.id) %}
        <input type='hidden' class="odt-stop-id" name="id" value="">
        <td>
            {% for datasource in odtStop.stop.stopDatasources %}
                <a target="_blank" href="{{ path('tisseo_boa_stop_edit', {'stopId': stopId}) }}">
                    {{ datasource.code }}
                </a>
            {% endfor %}
        </td>
        <td>
            <a target="_blank" href="{{ path('tisseo_boa_stop_area_edit', {'stopAreaId': odtStop.stop.stopArea.id}) }}">
                {{ odtStop.stop.stopArea.shortName }}
            </a>
        </td>
        <td>{{ odtStop.stop.stopArea.city.name }}</td>
        <td>{{ odtStop.startDate|date("d/m/Y") }}</td>
        <td>{% if odtStop.endDate is not empty %}{{ odtStop.endDate|date("d/m/Y") }}{% endif %}</td>
        <td><input type='checkbox' class="pickup" name="pickup" disabled="disabled" {% if odtStop.pickup %}checked="checked"{% endif %}></td>
        <td><input type='checkbox' class="dropOff"  name="dropOff" disabled="disabled" {% if odtStop.dropOff %}checked="checked"{% endif %}></td>
        <td>
            <button class="btn btn-xs btn-danger small-button delete-odt-stop"><span class="glyphicon glyphicon-minus"></span></button>
            <input type='hidden' name="startDate" value="{{ odtStop.startDate|date("d/m/Y") }}">
            <input type='hidden' name="endDate" value="{% if odtStop.endDate is not empty %}{{ odtStop.endDate|date("d/m/Y") }}{% endif %}">
            <input type='hidden' name='stop' value="{{ odtStop.stop.id }}">
        </td>
    </tr>
{% endfor %}
