{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoBoaBundle:Form:fields.html.twig' %}

{% block modal_title %}
    {{ title|trans({}, 'default') }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}

    <div class="form form-edit">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.way, {'attr': {'class': 'way-select'}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.direction, {'attr': {'class': 'direction-input'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
    </button>

    {{ form_end(form) }}

    <script>
        require(['jquery'], function($) {
            var forward_direction = "{{ route.lineVersion.forwardDirection }}";
            var backward_direction = "{{ route.lineVersion.backwardDirection }}";

            $(document).ready(function () {
                $( ".way-select" ).change(function() {
                    var select_value = $(this).val();
                    var input_value = $( ".direction-input" ).val();

                    if( !input_value ) {
                        if( select_value == "Aller" ) {
                            $( ".direction-input" ).val(forward_direction);
                        }
                        if( select_value == "Retour" ) {
                            $( ".direction-input" ).val(backward_direction);
                        }
                    }

                });
            });
        });
    </script>

{% endblock %}
