{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block modal_title %}
    {{ title|trans }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}

    <div class="form form-edit">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.way) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.direction) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.comment.label) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.comment.commentText) }}
                </div>
            </div>
        </div>
    </div>
    <div class="form form-edit">
        <div class="col-md-12">
            {% for routeDatasource in form.routeDatasources %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(routeDatasource.datasource) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(routeDatasource.code) }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
    {{ form_end(form) }}

    <script>
        require(['jquery'], function($) {
            $(document).ready(function () {
                $(".way-select").change(function() {
                    var way = $(this).val();

                    if (way === "{{ constant('Tisseo\\EndivBundle\\Entity\\Route::WAY_FORWARD') }}")
                        $(".direction-input").val("{{ route.lineVersion.forwardDirection|raw }}");
                    else if (way === "{{ constant('Tisseo\\EndivBundle\\Entity\\Route::WAY_BACKWARD') }}")
                        $(".direction-input").val("{{ route.lineVersion.backwardDirection|raw }}");
                });
            });
        });
    </script>
{% endblock %}
