{% extends "::modal.html.twig" %}

{% block modal_title %}
    {{ title|trans }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {# TODO: Translator ? #}
    {{ 'tisseo.boa.route.label.duplicate'|trans }}
    <select name="line_version" {{ class_attribute }}>
    {% for lv in activeLineVersions %}
        <option value='{{ lv.id }}'>{{ lv.line.number }} - V{{ lv.version }}</option>
    {% endfor %}
    </select>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span>{{ 'tisseo.global.save'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
