{% extends "TisseoBoaBundle::container2.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/calendar_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content -%}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <hr/>

    {{ form_start(form) }}
        <div id="route-fields" class="form form-edit">
            <div class="col-md-12">
                <div class="row">
                    <div class = "col-md-4 col-md-offset-1">
                        {{ form_row(form.name) }}
                    </div>
                    <div class = "col-md-4">
                        {{ form_row(form.way, {'attr': {'readonly':true} } ) }}
                    </div>
                    <div class = "col-md-3">
                        <button type="submit" id="form-save" class="btn btn-success route_btn_field">   
                            <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {{ form_row(form.direction) }}
                    </div>
                </div>
            </div>

        </div>

        <table id="route-table">
            <tr>
                <td>
                    <div class="route_table_header">{{ 'route.route_details' | trans }}</div>
                    <table id="route-stop-table" class="table datatable table-hover dataTable no-footer">
                        <thead>
                            <th>
                                <div>
                                    {{ 'route.route_stops.labels.rank' | trans }}
                                </div>
                            </th>
                            <th>{{ 'route.route_stops.labels.city' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.name' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.code' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.drop_off' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.pick_up' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.scheduled' | trans }}</th>
                            {% if route.way == 'Zonal' %}
                                <th>{{ 'route.route_stops.labels.internal_service' | trans }}</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% set index = 0 %}
                            {% for rs in routeStops %}
                                <tr class="sortable">
                                    <input type='hidden' name='route_stops[{{ index }}][id]' value="{{ rs.id }}">
                                    <td>{{ rs.rank }}</td>
                                    <td>{{ rs.waypoint.stop.stopArea.city.name }}</td>
                                    <td>{{ rs.waypoint.stop.stopArea.shortName }}</td>
                                    <td>{{ rs.waypoint.stop.stopDatasources[0].code }}</td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.dropOff %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                        <input type='checkbox' name='route_stops[{{ index }}][dropOff]' {{ checked }}>
                                    </td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.pickup %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                         <input type='checkbox' name='route_stops[{{ index }}][pickUp]' {{ checked }}>
                                    </td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.scheduledStop %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                        <input type='checkbox' class='scheduled' name='route_stops[{{ index }}][scheduled]' {{ checked }}>
                                    </td>
                                    {% if route.way == 'Zonal' %}
                                        <td>
                                            {% set checked = "" %}
                                            {% if rs.internalService %}
                                                {% set checked = "checked" %}
                                            {% endif %}
                                            <input type='checkbox' name='route_stops[{{ index }}][internal]' {{ checked }}>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% set index = index + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
{#                <td style="background-color: #4F81BD;">###</td>   #}
                <td>###</td>
                <td>
                    <div class="route_table_header">
                        {{ 'route.templates_services' | trans }}
                        <a style="float:right" class="btn btn-default" id="add-service">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <table id="trip-table"  class="table datatable table-hover dataTable no-footer">
                        <thead>
                            <th>
                                <div></div>
                            </th>
                        </thead>
                        <tbody>
                            {% for rs in routeStops %}
                                <tr id="{{ rs.id }}">
                                    <td>
                                        <a style="color: red; float:right" class="btn btn-default remove-route-stop">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan=3>
                    <button style="float:left" type="submit" id="form-save" class="btn btn-success">   
                        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
                    </button>

                    <a style="float:right" class="btn btn-default" id="add-route-stop">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>         
        </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/route/utils', 'jquery_ui_sortable'], function(utils) {

            var $stopTimes = JSON.parse("{{ serviceTemplates | json_encode | e('js') }}");

            $(document).ready(function () {
                $( "#add-service" ).click(function() {
                    utils.addService("#trip-table", '#route-stop-table');
                }); 

                $('#trip-table').on('click',  ".delete-trip", function(event) {
                    event.preventDefault();
                    utils.deleteService($(this), '#trip-table');
                }); 

                $( "#add-route-stop" ).click(function() {
                    var zonal = {{ route.way == 'Zonal' ? 'true' : 'false' }};
                    utils.addRouteStop('#route-stop-table', '#trip-table', zonal);
                });

                $('#trip-table').on('click',  ".remove-route-stop", function(event) {
                    event.preventDefault();

                    var $current_row_index = $(this).closest("tr").index();
                    $("#trip-table tbody tr").eq($current_row_index).remove();
                    $("#route-stop-table tbody tr").eq($current_row_index).remove();
                    $("#route-stop-table tbody").find('tr').each(function(i){
                        $(this).find('td:first').text( i+1 );
                    });
                });

                $('#route-stop-table').on('change',  ".scheduled", function(event) {
                    var index = $(this).closest('tr').index();
                    var scheduled = this.checked;
                    $('#trip-table tr').eq(index+1).find('input[type=time]').each(function() {
                        if( scheduled ) {
                            $(this).prop('readonly', false);
                            $(this).val('');

                        } else {
                            $(this).prop('readonly', true);
                            $(this).val('00:00');
                        }
                    });
                });

                $( "#route-stop-table tbody" ).sortable(
                    {
                        items: '.sortable',
                        stop: function(event, ui) {
                            $(this).find('tr').each(function(i){
                                $(this).find('td:first').text( i+1 );
                            });
                        }
                    }
                );

                utils.loadStoptimes($stopTimes, "#trip-table", "#route-stop-table");
            });
        });
    </script>
{% endblock %}