{% extends "TisseoBoaBundle::datatable_list_stops.html.twig" %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}


{% block main_content -%}
    <style>
        #Route_creer {
            display: none;
        }

        th.trip-cols {
            border: 1px solid #ccc;
        }
    </style>

    <div class="row">
        <div class="col-md-12" role="main">

            <hr/>
            <input type="hidden" id="routeId" value="{{ id }}"/>

            <div id="formRoute">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.way) }}
                {{ form_row(form.direction) }}
                <input type="submit" value="editer" name="Route_creer" class="btn btn-primary"/>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    <table id="routeTable" class="table datatable table-hover dataTable no-footer">

    <thead>
    <tr id="headRstops">
        <th colspan="7">Détail de la route</th>
        <th colspan="11">Servcies type</th>
    </tr>
    <tr id="trips">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        {% set count =0 %}
        {% set tripsId = [] %}
        <th colspan="2" class="trip-cols">{{ trip.name }}</th>

    </tr>
    <tr id="heading">
        <th class="idRS col-sm-1">Id</th>
        <th class="col-sm-1">Ordre</th>
        <th class="col-sm-1">Ville</th>
        <th class="col-sm-1">Nom arrêt</th>
        <th class="col-sm-1">Num arrêt</th>
        <th class="col-sm-1">Descente inter</th>
        <th class="col-sm-1">Montee inter</th>

    </tr>
    </thead>
    <input type="hidden" id="servicesCount" value="{{ count }}">
    {% if is_granted('BUSINESS_MANAGE_ROUTES') %}
        {% block table_head %}

        {% endblock %}


        <tbody class="ui-sorting">

        </tbody>
        {% block table_body -%}

        {% endblock %}
        </table>

        {% block list_pagination -%}{% endblock %}

        <div class="row">
            <div>
                {{ render.stop_point('add') }}
            </div>
        </div>

        <button id="saveList" class="btn btn-default">Sauvegarder</button>

    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@TisseoBoaBundle/Resources/public/js/liststops.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        require(['jquery', 'textfill'], function ($) {
            $(document).ready(function () {
                var countServices = $("#servicesCount").val();

                idRoute = $("#routeId").val();

            });
        });

        require(['jquery', 'jquery_ui_droppable', 'jquery_ui_draggable', 'jquery_ui_sortable', 'jquery_ui_autocomplete'], function ($) {
            function displayError(responseText) {
                document.open();
                document.write(responseText);
                document.close();
            }


            $(document).ready(function () {

                var size = 0;
                var stopTimes = [];
                var sizeO = [];
                table = $("#routeTable");

                $("thead").append("<tr></tr>");


                $("#add_rs").click(function () {

                    var stptimes = {};
                    $('.stptimes').each(function (key, stoptimes) {
                        stptimes[$('.stptimes').eq(key).attr('name')] = $('.stptimes').eq(key).val();

                    });

                    var routeStop = {
                        name: $('#stop_search').val(),
                        id:{{id}},
                        descStop: $('#descStop').is(':checked'),
                        upStop: $('#upStop').is(':checked'),
                        stopId: $("#stop_id").val(),
                        rank: $("#routeTable tbody").find("tr").last().find("td").eq(1).html(),
                        routeId: $("#routeId").val(),
                        stoptimes: stptimes,
                        departures: sizeO
                    };

                    $.ajax({
                        url: "{{ path('tisseo_boa_json_add_routestop') }}",
                        type: 'POST',
                        data: routeStop
                    }).success(function (data) {
                        console.log(data);
                    })
                });

                $.ajax({
                    url: "{{ path('tisseo_boa_json_route_services') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {routeId: $("#routeId").val()}
                }).success(function (data) {

                    var departures = [];
                    var indexo = 0;

                    $.map(JSON.parse(data.content), function (item) {

                        var stoptimes = item;
                        if (typeof (stoptimes.stoptimes) != "undefined") {
                            stopTimes.push(stoptimes.stoptimes);
                        }

                        if (typeof (item.rank) != "undefined") {
                            var departure = [];
                            var times = [];
                            var current_value = "";


                            for (i = 0; i < stopTimes.length; i++) {
                                indexo += 1;
                                var prevStep = (stopTimes.length * 2) + 1;

                                $.each(stopTimes[i], function (stop, key) {

                                    if (key.routestop == item.id) {

                                        if (item.rank == 1) {
                                            departure.push("<td>00:00</td>");
                                        }

                                        else {
                                            departures.push(key.arrivalTime);
                                            current_value = key.arrivalTime;
                                            if (item.rank == 2) {
                                                departure.push("<td>" + key.arrivalTime + "</td>");
                                            }
                                            if (item.rank > 2) {

                                                departure.push("<td>" + (parseInt(key.arrivalTime) - parseInt(departures[indexo - prevStep])) + "</td>");
                                            }

                                            if (item.rank == Object.keys(item).length - 1) {
                                                sizeO.push({"depart": key.departureTime});
                                            }

                                        }
                                    }
                                });


                            }

                            var dropoff = item.dropOff == true ? "Oui" : "Non";
                            var pickup = item.pickup == true ? "Oui" : "Non";

                            $("#routeTable tbody").append(
                                    "<tr>" + "<td class='idRS'>" + item.id + "</td>" + "<td>" + item.rank + "</td>" + "<td>" + item.city + "</td>" + "<td>" + item.name + "</td>" +
                                    "<td>" + item.code + "</td>" + "<td>" + dropoff + "</td><td>" + pickup + "</td>" +
                                    departure + "<td><button class='del-rs btn btn-danger'>-</button></td>" +
                                    "</tr>");

                        }

                        if (typeof (item.stoptimes) != "undefined") {
                            $.each(item.stoptimes, function (item, key) {
                                if (key.routestop == item.id) {
                                }
                            });


                        }


                        if (typeof (item.services) != "undefined") {

                            $("#newStop").append('<input type="time" name="' + item.services + '" class="stptimes" />');
                            $("#newStop").append('<input type="hidden" name="lastRank" value="' + size + 1 + '" />');
                            $("#heading").append("<th>" + item.services + "</th>");

                        }


                    });

                    $("#heading").append("<th><button class='btn btn-danger'>+</button></th>");
                    $(".del-rs").click(function () {
                        var idRouteStop = $(this).parent().parent().find('td').eq(0).html();

                    });
                }, 'json')
                        .error(function (err) {
                            console.log(err);
                        });


                $("#stop_search").autocomplete({
                    source: function (request, response) {
                        var objData = {term: request.term};
                        var url = $(this.element).attr('data-url');
                        $.ajax({
                            url: url, dataType: "json", data: objData, type: 'POST',
                            success: function (data) {
                                response($.map(JSON.parse(data.content), function (item) {
                                    return {
                                        label: item.name,
                                        value: item.name,
                                        id: item.id
                                    };
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        $("#stop_id").val(ui.item.id);
                    },
                    minLength: 3,
                    delay: 300
                });

                $.fn.liveDroppable = function () {
                    $(this).droppable({
                        over: function (event, ui) {

                        },
                        out: function (event, ui) {

                        },
                        drop: function (event, ui) {

                        }
                    });
                };

                $(document).find('#routeTable tbody').liveDroppable();

                var startPos;
                var endPos;
                var order;
                var orderUpdate;
                var startRow;
                var orders = [];


                $("#routeTable tbody").sortable({
                    cursor: "move",
                    start: function (event, ui) {
                        startPos = ui.item.prevAll().length + 1;

                        startRow = $("#routeTable tbody").find("tr").eq(startPos - 1);
                        order = startRow.find('td').eq(1).html();

                        orders = [];
                        orders.push(order);


                    },
                    update: function (event, ui) {

                        endPos = ui.item.prevAll().length + 1;

                        var endRow = $("#routeTable tbody").find("tr").eq(endPos - 1);
                        startRow = $("#routeTable tbody").find("tr").eq(startPos - 1);


                        if (endPos < startPos) {

                            var newPos = $("#routeTable tbody").find("tr").eq(endPos);

                            orderUpdate = newPos.find('td').eq(1).html();

                            endRow.find("td").eq(1).html(newPos.find('td').eq(1).html());

                            newPos.find("td").eq(1).html(orders[0]);

                        }

                        else if (endPos > startPos) {

                            var newPos = $("#routeTable tbody").find("tr").eq(endPos - 2);
                            orderUpdate = newPos.find('td').eq(1).html();

                            endRow.find("td").eq(1).html(newPos.find('td').eq(1).html());
                            newPos.find("td").eq(1).html(orders[0]);

                        }


                    }
                })

                $("#routeTable tbody").on('click', 'tr', function () {
                    $(this).toggleClass("selected");
                    $(this).draggable();
                })
            });


        });
    </script>
{% endblock %}
