{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set datatable = true %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block main_content -%}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <br>

    <a id="route" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ render.route_header(route) }}
    </a>
    <div class="panel col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.way) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.direction) }}
            </div>
        </div>

        {% for datasource in form.routeDatasources %}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(datasource.datasource) }}
            </div>
            <div class="col-md-3">
                {{ form_row(datasource.code) }}
            </div>
        </div>
        {% else %}
            <div class="row">
                {{ 'global.no_items'|trans }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
                </button>
                <a href="" class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat"></span> {{ 'global.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <a id="route-stops" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'route.list.headers.route_stops'|trans({}, 'default') }}
    </a>
    {% if route.hasTripsNotPattern %}
        {{ render(controller('TisseoBoaBundle:RouteStop:list', {'routeId': route.id })) }}
    {% else %}
        {{ render(controller('TisseoBoaBundle:RouteStop:edit', {'routeId': route.id })) }}
    {% endif %}

    <a id="trip-patterns" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'route.list.headers.trip_patterns'|trans({}, 'default') }}
    </a>
    {% if route.routeStops is not empty %}
        <a href="{{ path('tisseo_boa_trip_create', {'routeId': route.id}) }}" data-toggle="modal" data-target="#base-modal">
            <span class="glyphicon glyphicon-plus"></span> {{ 'trip.create'|trans({}, 'default') }}
        </a>
        {{ render(controller('TisseoBoaBundle:Trip:editPattern', {'routeId': route.id })) }}
    {% else %}
    <div class="panel col-md-12">
        {{ 'route.no_route_stops'|trans }}
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/route_stop/edit']);
    </script>
    <script>
        require(['boa/trip/edit_pattern']);
    </script>
    {% if not route.hasTripsNotPattern %}
    <script>
        require(['core/datatables'], function() {
            datatable(false, '10');
        });
    </script>
    {% endif %}
{% endblock %}
