{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set datatable = true %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}
{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('tisseo_boa_line_version_list') }}">
            {{ 'tisseo.boa.line_version.title.list'|trans }}
        </a>
        /
        <a href="{{ path('tisseo_boa_route_list', { 'lineVersionId': route.lineVersion.id }) }}">
            {{ 'tisseo.boa.route.title.list'|trans({ '%number%': route.lineVersion.line.number, '%version%': route.lineVersion.version }) }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <a id="route" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ render.route_header(route) }}
    </a>
    <div class="panel col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.way) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.direction) }}
            </div>
        </div>

        {% for datasource in form.routeDatasources %}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(datasource.datasource) }}
            </div>
            <div class="col-md-3">
                {{ form_row(datasource.code) }}
            </div>
        </div>
        {% else %}
            <div class="row">
                {{ 'tisseo.global.no_items'|trans }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                </button>
                <a href="" class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat"></span> {{ 'tisseo.global.cancel'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <a id="route-stops" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.route_stop.title.list'|trans }}
    </a>
    {% if route.hasTripsNotPattern %}
        {{ render(controller('TisseoBoaBundle:RouteStop:list', {'routeId': route.id })) }}
    {% else %}
        {{ render(controller('TisseoBoaBundle:RouteStop:edit', {'routeId': route.id })) }}
    {% endif %}

    <a id="trip-patterns" class="header-ribbon">
        <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip_pattern.title.list'|trans }}
    </a>
    {% if route.routeStops is not empty %}
        <a href="{{ path('tisseo_boa_trip_create', {'routeId': route.id}) }}" data-toggle="modal" data-target="#base-modal">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.trip.action.create'|trans }}
        </a>
        <a href="{{ path('tisseo_boa_trip_list', {'routeId': route.id}) }}">
            <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.trip.action.list'|trans }}
        </a>
        {{ render(controller('TisseoBoaBundle:Trip:editPattern', {'routeId': route.id })) }}
    {% else %}
        <div class="panel col-md-12">
            {{ 'tisseo.boa.route.message.no_route_stops'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        require(['boa/trip/edit_pattern']);
    </script>
    {% if route.hasTripsNotPattern %}
        <script>
            require(['core/datatables'], function() {
                datatable(false, '10');
            });
        </script>
    {% else %}
        <script>
            require(['boa/route_stop/edit']);
        </script>
    {% endif %}
{% endblock %}
