{% extends "TisseoBoaBundle::datatable_list_stops.html.twig" %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}


{% block main_content -%}
    <style>
        #Route_creer {
            display: none;
        }

        th.trip-cols {
            border: 1px solid #ccc;
        }
    </style>

    <div class="row">
        <div class="col-md-12" role="main">

            <hr/>
            <input type="hidden" id="routeId" value="{{ id }}"/>

            <div id="formRoute">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.way) }}
                {{ form_row(form.direction) }}
                <input type="submit" value="editer" name="Route_creer" class="btn btn-primary"/>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    <table id="routeTable" class="table datatable table-hover dataTable no-footer">

    <thead>
    <tr id="headRstops">
        <th colspan="7">Détail de la route</th>
        <th colspan="11">Servcies type</th>
    </tr>
    <tr id="trips">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        {% set count =0 %}
        {% for trip in trips %}
            {% set count=loop.index %}
            <th colspan="2" class="trip-cols">{{ trip.name }}</th>
        {% endfor %}
    </tr>
    <tr id="heading">
        <th class="col-sm-1">Id</th>
        <th class="col-sm-1">Ordre</th>
        <th class="col-sm-1">Ville</th>
        <th class="col-sm-1">Nom arrêt</th>
        <th class="col-sm-1">Num arrêt</th>
        <th class="col-sm-1">Descente inter</th>
        <th class="col-sm-1">Montee inter</th>
        {% for i in range(1,count) %}
            {% if isZone == false %}



            {% else %}
                <th class="col-sm-1">Heure départ</th>
                <th class="col-sm-1">Heure arrivée</th>
            {% endif %}

        {% endfor %}
    </tr>
    </thead>
    <input type="hidden" id="servicesCount" value="{{ count }}">
    {% if is_granted('BUSINESS_MANAGE_ROUTES') %}
        {% block table_head %}

        {% endblock %}


        <tbody class="ui-sorting">

        </tbody>
        {% block table_body -%}

        {% endblock %}
        </table>
        {% block list_pagination -%}{% endblock %}

        <div class="row">
            <div>
                {{ render.stop_point('add') }}
            </div>
        </div>

        <button id="saveList" class="btn btn-default">Sauvegarder</button>

    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@TisseoBoaBundle/Resources/public/js/liststops.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        require(['jquery', 'textfill'], function ($) {
            $(document).ready(function () {
                var countServices = $("#servicesCount").val();
                var cols = [
                    {"data": "Id"},
                    {"data": "Ordre"},
                    {"data": "Ville"},
                    {"data": "Nom"},
                    {"data": "Num"},
                    {"data": "Desc"},
                    {"data": "Pickup"}
                ];

                for (i = 0; i <= countServices - 1; i++) {
                    {% if isZone == false %}

                    cols.push({"data": "Duration"});

                    {% else %}
                    cols.push({"data": "Dep"}, {"data": "Arr"});

                    {% endif %}
                }


                idRoute = $("#routeId").val();

            });
        });

        require(['jquery', 'jquery_ui_droppable', 'jquery_ui_draggable', 'jquery_ui_sortable', 'jquery_ui_autocomplete'], function ($) {
            function displayError(responseText) {
                document.open();
                document.write(responseText);
                document.close();
            }


            $(document).ready(function () {
                table = $("#routeTable");
                $("thead").append("<tr></tr>");
                $.ajax({
                    url: "{{ path('tisseo_boa_json_route_services') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {routeId: $("#routeId").val()}
                }).success(function (data) {
                    $.map(JSON.parse(data.content), function (item) {


                        if (typeof (item.services) != "undefined") {
                            $("#heading").append(
                                    "<th>" + item.services + "</th>");

                        }

                        if (typeof (item.rank) != "undefined") {
                            console.log(item.pickup);
                            $("tbody").append(
                                    "<tr>" + "<td>" + item.id + "</td>" + "<td>" + item.rank + "</td>" + "<td>" + item.city + "</td>" + "<td>" + item.name + "</td>" +
                                    "<td>" + item.code + "</td>" + "<td>" + item.dropOff + "</td><td>" + item.pickup + "</td>" +
                                    "</tr>");

                        }

                    });
                })
                        .error(function (err) {
                            console.log(err);
                        });

                $("#stop_search").autocomplete({
                    source: function (request, response) {
                        var objData = {term: request.term};
                        var url = $(this.element).attr('data-url');
                        $.ajax({
                            url: url, dataType: "json", data: objData, type: 'POST',
                            success: function (data) {
                                response($.map(JSON.parse(data.content), function (item) {
                                    return {
                                        label: item.name,
                                        value: item.name,
                                        id: item.id
                                    };
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        $("#stop_id").val(ui.item.id);
                    },
                    minLength: 3,
                    delay: 300
                });

                $.fn.liveDroppable = function () {
                    $(this).droppable({
                        over: function (event, ui) {

                        },
                        out: function (event, ui) {

                        },
                        drop: function (event, ui) {

                        }
                    });
                };

                $(document).find('#routeTable tbody').liveDroppable();

                var startPos;
                var endPos;
                var order;
                var orderUpdate;
                var startRow;
                var orders = [];


                $("#routeTable tbody").sortable({
                    cursor: "move",
                    start: function (event, ui) {
                        startPos = ui.item.prevAll().length + 1;

                        startRow = $("#routeTable tbody").find("tr").eq(startPos - 1);
                        order = startRow.find('td').eq(1).html();

                        orders = [];
                        orders.push(order);


                    },
                    update: function (event, ui) {

                        endPos = ui.item.prevAll().length + 1;

                        var endRow = $("#routeTable tbody").find("tr").eq(endPos - 1);
                        startRow = $("#routeTable tbody").find("tr").eq(startPos - 1);


                        if (endPos < startPos) {

                            var newPos = $("#routeTable tbody").find("tr").eq(endPos);

                            orderUpdate = newPos.find('td').eq(1).html();

                            endRow.find("td").eq(1).html(newPos.find('td').eq(1).html());

                            newPos.find("td").eq(1).html(orders[0]);

                        }

                        else if (endPos > startPos) {

                            var newPos = $("#routeTable tbody").find("tr").eq(endPos - 2);
                            orderUpdate = newPos.find('td').eq(1).html();

                            endRow.find("td").eq(1).html(newPos.find('td').eq(1).html());
                            newPos.find("td").eq(1).html(orders[0]);

                        }


                    }
                })

                $("#routeTable tbody").on('click', 'tr', function () {
                    $(this).toggleClass("selected");
                    $(this).draggable();

                    var order = table.row(this).data().Ordre;

                })
            });
        });
    </script>
{% endblock %}
