{% extends "TisseoBoaBundle::container2.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                   filter='cssrewrite' output='css/calendar_boa.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block main_content -%}
    <h1>{{ title|trans({}, 'default') }}</h1>
    <hr/>

    {{ form_start(form) }}
        <div id="route-fields" class="form form-edit">
            <div class="col-md-12">
                <div class="row">
                    <div class = "col-md-4 col-md-offset-1">
                        {{ form_row(form.name) }}
                    </div>
                    <div class = "col-md-4">
                        {{ form_row(form.way, {'attr': {'readonly':true} } ) }}
                    </div>
                    <div class = "col-md-3">
                        <button type="submit" id="form-save" class="btn btn-success route_btn_field">   
                            <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {{ form_row(form.direction) }}
                    </div>
                </div>
            </div>

        </div>

        <table id="route-table">
            <tr>
                <td>
                    <div class="route_table_header">{{ 'route.route_details' | trans }}</div>
                    <table id="route-stop-table" class="table datatable table-hover dataTable no-footer">
                        <thead>
                            <th>
                                <div>
                                    {{ 'route.route_stops.labels.rank' | trans }}
                                </div>
                            </th>
                            <th>{{ 'route.route_stops.labels.city' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.name' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.code' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.drop_off' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.pick_up' | trans }}</th>
                            <th>{{ 'route.route_stops.labels.scheduled' | trans }}</th>
                            {% if route.way == 'Zonal' %}
                                <th>{{ 'route.route_stops.labels.internal_service' | trans }}</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% set index = 0 %}
                            {% for rs in routeStops %}
                                <tr class="sortable">
                                    <input type='hidden' name='route_stops[{{ index }}][id]' value="{{ rs.id }}">
                                    <td>{{ rs.rank }}</td>
                                    <td>{{ rs.waypoint.stop.stopArea.city.name }}</td>
                                    <td>{{ rs.waypoint.stop.stopArea.shortName }}</td>
                                    <td>{{ rs.waypoint.stop.stopDatasources[0].code }}</td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.dropOff %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                        <input type='checkbox' name='route_stops[{{ index }}][dropOff]' {{ checked }}>
                                    </td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.pickup %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                         <input type='checkbox' name='route_stops[{{ index }}][pickUp]' {{ checked }}>
                                    </td>
                                    <td>
                                        {% set checked = "" %}
                                        {% if rs.scheduledStop %}
                                            {% set checked = "checked" %}
                                        {% endif %}
                                        <input type='checkbox' name='route_stops[{{ index }}][scheduled]' {{ checked }}>
                                    </td>
                                    {% if route.way == 'Zonal' %}
                                        <td>
                                            {% set checked = "" %}
                                            {% if rs.internalService %}
                                                {% set checked = "checked" %}
                                            {% endif %}
                                            <input type='checkbox' name='route_stops[{{ index }}][internal]' {{ checked }}>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% set index = index + 1 %}
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
{#                <td style="background-color: #4F81BD;">###</td>   #}
                <td>###</td>
                <td>
                    <div class="route_table_header">
                        {{ 'route.templates_services' | trans }}
                        <a style="float:right" class="btn btn-default" id="add-service">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <table id="trip-table"  class="table datatable table-hover dataTable no-footer">
                        <thead>
                            <th>
                                <div></div>
                            </th>
                        </thead>
                        <tbody>
                            {% for rs in routeStops %}
                                <tr id="{{ rs.id }}">
                                    <td>
                                        <a style="color: red; float:right" class="btn btn-default remove-line">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan=3>
                    <button style="float:left" type="submit" id="form-save" class="btn btn-success">   
                        <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
                    </button>

                    <a style="float:right" class="btn btn-default" id="add-route-stop">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>         
        </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        require(['jquery', 'jquery_ui_sortable', 'jquery_ui_autocomplete'], function ($) {
            var $stopTimes = JSON.parse("{{ serviceTemplates | json_encode | e('js') }}");

            function FormatDate(d) {
                var h = d.getHours();
                if( h < 10 ) h = "0" + h;
                var m = d.getMinutes();
                if( m < 10 ) m = "0" + m;
                return h + ":" + m;
            }

            function loadStoptimes() {
                var $service_index = 0;
                $.each($stopTimes, function( $trip_id, $datas ) {
                    var $line_index = 0;
                    $.each($datas, function( $key, $value ) {
                        var $FormattedDate = FormatDate(new Date($value['arrivalTime']*1000));
                        if( $line_index == 0 ) {
                            var $service_header = "<th>";
                            $service_header += "<input type='hidden' name='services[" + $service_index + "][id]' value=" + $trip_id + ">";
                            $service_header += "<div><div style='display: table-cell'>";
                            $service_header += "<input type='text' name='services[" + $service_index + "][name]' class='form-control' style='float:left' required value=" + $value['name'] + "></div>";
                            $service_header += "<div style='position:relative;display: table-cell'>";
                            $service_header += "<button data-toggle='dropdown' class='btn btn-default dropdown-toggle' style='float:right'>";
                            $service_header += "<span class='caret'></span></button>";
                            $service_header += "<ul class='dropdown-menu  dropdown-menu-right'>";
                            $service_header += "<li><a class='btn delete-trip' role='button' href=''>Supprimer</a></li>";
                            $service_header += "</ul></div></div>";
                            $service_header += "</th>";
                            $("#trip-table thead th:last").before($service_header);
                        }
                        var $time_cell = "<td>";
                        $time_cell += "<input type='hidden' name='services[" + $service_index + "][" + $line_index + "][route_stop_id]' value=" + $value['route_stop_id'] + ">";
                        $time_cell += "<input type='hidden' name='services[" + $service_index + "][" + $line_index + "][stop_time_id]' value=" + $value['stop_time_id'] + ">";
                        $time_cell += "<input type='time' name='services[" + $service_index + "][" + $line_index + "][time]' class='form-control' required value='" + $FormattedDate + "'>";
                        $time_cell += "</td>";
                        $("#trip-table tbody tr#" + $value['route_stop_id'] + " td:last").before($time_cell);
                        $line_index += 1;
                    });
                    $service_index += 1;
                });
            };

            function addRouteStop() {
                var $index = $('#route-stop-table tbody tr').length;
                var $line = "<tr>";
                $line += "<td>" + ($index+1) + "</td>";
                
                $line += "<td colspan='3'><input type='hidden' name='route_stops[" + $index + "][waypoint_id]'>";
                $line += "<input type='text' id='route_stops[" + $index + "][waypoint_id]' class='form-control stop-search'></td>";
                $line += "<td><input type='checkbox' name='route_stops[" + $index + "][dropOff]' checked></td>";
                $line += "<td><input type='checkbox' name='route_stops[" + $index + "][pickUp]' checked></td>";
                $line += "<td><input type='checkbox' name='route_stops[" + $index + "][scheduled]' checked></td>";
                {% if route.way == 'Zonal' %}
                    $line += "<td><input type='checkbox' name='route_stops[" + $index + "][internal]'></td>";
                {% endif %}
                $line += "</tr>";
                $("#route-stop-table tbody").append($line);

                $(".stop-search").autocomplete({
                    source: function (request, response) {
                        var objData = { term: request.term };
                        var url = "{{ path('tisseo_boa_json_stop') }}";
                        $.ajax({ url: url, dataType: "json", data : objData,  type: 'POST',
                            success: function (data) {
                                response($.map(JSON.parse(data.content), function (item) {                                  
                                    return {                
                                        label: item.name, 
                                        value: item.name, 
                                        id: item.id
                                    };
                                }));
                            },
                        });
                    },
                    select: function (event, ui) {
                        var $id = $(this).attr('id');
                        var $hidden_input = $("input[name='" + $id + "']");
                        $hidden_input.val(ui.item.id);
                    },                  
                    minLength: 3,
                    delay: 300
                });

                var $service_count = $("#trip-table thead").find("th").length;
                $line = "<tr>";
                for (i = 0; i < $service_count-1; i++) { 
                    $line += "<td><input type='time' name='services[" + i + "][" + $index + "][time]' required class='form-control'></td>";
                }
                $line += "<td><a style='color: red; float:right' class='btn btn-default remove-line'>";
                $line += "<span class='glyphicon glyphicon-remove'></span></a></td>";
                $line += "</tr>";
                $('#trip-table tbody').append($line);
            };

            function addService() {
                var col_index = $("#trip-table thead th:last").index();
                var $service_name_input = "<div><div style='display: table-cell'>";
                $service_name_input += "<input type='text' name='services[" + col_index + "][name]' required class='form-control'></div>";
                $service_name_input += "<div style='position:relative;display: table-cell'>";
                $service_name_input += "<button data-toggle='dropdown' class='btn btn-default dropdown-toggle' style='float:right'>";
                $service_name_input += "<span class='caret'></span></button>";
                $service_name_input += "<ul class='dropdown-menu  dropdown-menu-right'>";
                $service_name_input += "<li><a class='btn delete-trip' role='button' href=''>Supprimer</a></li>";
                $service_name_input += "</ul></div></div>";

                $("#trip-table thead th:last").before('<th>' + $service_name_input + '</th>');
                $('#trip-table tbody').find('tr').each(function(i, el) {
                    var row_index = $(el).index();
                    var stop_time_input = "<input type='time' name='services[" + col_index + "][" + row_index + "][time]' required class='form-control'>";
                    $(el).find("td:last").before('<td>' + stop_time_input + '</td>');
                });
            };

            function deleteService($item) {
                var $column_index = $item.parents('th').index();
                $('#trip-table tr').find('th:eq(' + $column_index + '),td:eq(' + $column_index + ')').remove();
            };


            $(document).ready(function () {
                var $current_rank = 0;
                $( "#route-stop-table tbody" ).sortable(
                    {
                        items: '.sortable',
                        stop: function(event, ui) {
                            $(this).find('tr').each(function(i){
                                $(this).find('td:first').text( i+1 );
                            });
                        }
                    }
                );

                loadStoptimes();

                $( "#add-route-stop" ).click(function() {
                    addRouteStop();
                });    

                $( "#add-service" ).click(function() {
                    addService();
                }); 

                $('#trip-table').on('click',  ".delete-trip", function(event) {
                    event.preventDefault();
                    deleteService($(this));
                }); 
                
                $('#trip-table').on('click',  ".remove-line", function(event) {
                    event.preventDefault();

                    var $current_row_index = $(this).closest("tr").index();
                    $("#trip-table tbody tr").eq($current_row_index).remove();
                    $("#route-stop-table tbody tr").eq($current_row_index).remove();
                    $("#route-stop-table tbody").find('tr').each(function(i){
                        $(this).find('td:first').text( i+1 );
                    });
                });
            });
        });
    </script>
{% endblock %}