{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('tisseo_boa_line_version_list') }}">
            {{ 'menu.offer_list'|trans({}, 'messages') }}
        </a>
    </li>
{% endblock %}

{% block list_title -%}
    {{ 'route.list.line'|trans({'%number%': lineVersion.line.number, '%version%': lineVersion.version}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_ROUTES')) %}
        -
        <a href="{{ path('tisseo_boa_route_create', {'lineVersionId':lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'route.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-md-4">{{ 'route.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-md-1">{{ 'route.list.columns.firstStop'|trans({}, 'default') }}</th>
    <th class="col-md-1">{{ 'route.list.columns.lastStop'|trans({}, 'default') }}</th>
    <th class="col-md-2">{{ 'route.list.columns.comment'|trans({}, 'default') }}</th>
    <th class="col-md-1">{{ 'route.list.columns.way'|trans({}, 'default') }}</th>
    <th class="col-md-3 no-sort no-search">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for route in lineVersion.routes %}
        <tr>
            <td>{{ route.name }}</td>
            <td>
                {% if route.routeStops.first.waypoint.stop is not empty %}
                    {{ route.routeStops.first.waypoint.stop.stopArea.nameLabel }}
                {% else %}
                    {{ route.routeStops.first.waypoint.area.name }}
                {% endif %}
            </td>
            <td>
                {% if route.routeStops.last.waypoint.stop is not empty %}
                    {{ route.routeStops.last.waypoint.stop.stopArea.nameLabel }}
                {% else %}
                    {{ route.routeStops.last.waypoint.area.name }}
                {% endif %}
            </td>
            <td>{{ route.comment }}</td>
            <td>{{ route.way }}</td>
            <td>
                <a class="btn btn-default" role="button" href="{{ path('tisseo_boa_trip_list', {routeId: route.id}) }}">
                    <span class="glyphicon glyphicon-list"></span> {{ 'route.actions.services'|trans }}
                </a>
                {% if (is_granted('BUSINESS_MANAGE_ROUTES')) %}
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ 'route.actions.actions'|trans }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="btn" role="button" href="{{ path('tisseo_boa_route_duplicate', {routeId: route.id}) }}" data-toggle="modal" data-target="#base-modal">
                                {{ 'route.actions.copy'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="btn" role="button" href="{{ path('tisseo_boa_route_edit', {routeId: route.id}) }}">
                                {{ 'route.actions.edit'|trans }}
                            </a>
                        </li>
                        {% if not route.hasTripsNotPattern %}
                        <li>
                            <a class="btn delete-action" role="button" href="{{ path('tisseo_boa_route_delete', {routeId: route.id}) }}">
                                {{ 'route.actions.delete'|trans }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['bootbox'], function(bootbox) {
            $('.delete-action').on('click', function(event) {
                event.preventDefault();
                var self = this;
                bootbox.confirm("{{ 'route.confirm.delete'|trans }}", function(result) {
                    if (result)
                        window.location = self.href;
                });
            });
        });
    </script>
{% endblock %}
