{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_line_version_list') }}">
        {{ 'tisseo.boa.line_version.title.list'|trans }}
    </a>
{% endblock %}

{% block list_title -%}
    {{ pageTitle|trans({'%number%': lineVersion.line.number, '%version%': lineVersion.version}) }}
    {% if (is_granted('BUSINESS_MANAGE_ROUTES')) %}
        -
        <a href="{{ path('tisseo_boa_route_create', { 'lineVersionId':lineVersion.id }) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.boa.route.action.create'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-md-3">{{ 'tisseo.boa.route.label.name'|trans }}</th>
    <th class="col-md-1.5">{{ 'tisseo.boa.route.label.first_stop'|trans }}</th>
    <th class="col-md-1.5">{{ 'tisseo.boa.route.label.last_stop'|trans }}</th>
    <th class="col-md-2">{{ 'tisseo.boa.route.label.comment'|trans }}</th>
    <th class="col-md-1">{{ 'tisseo.boa.route.label.way'|trans }}</th>
    <th class="col-md-3 no-sort no-search">{{ 'tisseo.global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for route in lineVersion.routes %}
        <tr>
            <td>{{ route.name }}</td>
            <td>
                {% if not route.routeStops.first.isOdtAreaRouteStop %}
                    {{ route.routeStops.first.waypoint.stop.stopArea.nameLabel }}
                {% else %}
                    {{ route.routeStops.first.waypoint.odtArea.name }}
                {% endif %}
            </td>
            <td>
                {% if not route.routeStops.last.isOdtAreaRouteStop %}
                    {{ route.routeStops.last.waypoint.stop.stopArea.nameLabel }}
                {% else %}
                    Zone: {{ route.routeStops.last.waypoint.odtArea.name }}
                {% endif %}
            </td>
            <td>{{ route.comment }}</td>
            <td>{{ route.way }}</td>
            <td>
                <a class="btn btn-default" role="button" href="{{ path('tisseo_boa_trip_list', { 'routeId': route.id }) }}">
                    <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.route.action.services'|trans }}
                </a>
                {% if (is_granted('BUSINESS_MANAGE_ROUTES')) %}
                <a class="btn btn-default" role="button" href="{{ path('tisseo_boa_route_edit', { 'routeId': route.id }) }}">
                    {{ 'tisseo.boa.route.action.edit'|trans }}
                </a>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ 'tisseo.global.actions'|trans }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="btn" role="button" href="{{ path('tisseo_boa_route_duplicate', { 'routeId': route.id }) }}" data-toggle="modal" data-target="#base-modal">
                                {{ 'tisseo.boa.route.action.copy'|trans }}
                            </a>
                        </li>
                        {% if not route.hasTripsNotPattern %}
                        <li>
                            <a class="btn delete-action" role="button" href="{{ path('tisseo_boa_route_delete', { 'routeId': route.id }) }}">
                                {{ 'tisseo.boa.route.action.delete'|trans }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['bootbox'], function(bootbox) {
            $('.delete-action').on('click', function(event) {
                event.preventDefault();
                var self = this;
                bootbox.confirm("{{ 'tisseo.boa.route.confirm.delete'|trans }}", function(result) {
                    if (result)
                        window.location = self.href;
                });
            });
        });
    </script>
{% endblock %}
