{% extends "TisseoBoaBundle::base.html.twig" %}
{% import "TisseoBoaBundle::macros.html.twig" as render %}
{% block container %}

    <div class="row">
                <div class="col-md-12" role="main">
                    {% for flashMessage in app.session.flashbag.get('suppression') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
            {% block main_content %}
            <hr />
            <table class="table datatable table-hover dataTable no-footer" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                <tr>
                    <thead>
                    <th>Nom route</th><th>Départ</th><th>Arrivée</th><th>Commentaire</th><th>Sens</th><th>Editer</th>
                    </thead>
                </tr>
                {% for route in routes %}
                        <tr role="row" class="{{ (loop.index%2==0) ? "odd" : "even" }}">
                            <td id="{{ route.id }}">
                               {{ route.name }}
                            </td>
                            {% set size = (route.routeStops | length)  %}

                            {%  set indexo = loop.index %}

                            {% for stop in route.routeStops %}

                                {% if stop.rank ==1 %}
                                    {% if isZone == true %}
                                         <td>{{ stop.waypoint.odtArea.name }}</td>
                                    {% else %}
                                        <td>{{ stop.waypoint.stop.stopArea.shortName }}</td>

                                    {% endif %}

                                {% elseif stop.rank == size %}

                                    {% if isZone == true %}
                                        <td>{{ stop.waypoint.odtArea.name }}</td>
                                    {% else %}
                                        <td>{{ stop.waypoint.stop.stopArea.shortName }}</td>
                                    {% endif %}

                                {% endif %}


                            {%  endfor %}


                            {%  for stop in stops %}

                            {% endfor %}

                            {% if route.routeStops[0] is empty %}
                                <td></td><td></td>
                            {% endif %}

                            <td> {{ route.comment }}</td>
                            <td> {{ route.way }}</td>

                            <td><a href="{{path('tisseo_boa_route_edit',{id:route.id})}}" class="editRoute btn btn-default"><span class="glyphicon glyphicon-edit"></span>Editer</a></td>
                            <td><a href="{{path('tisseo_boa_route_delete',{id: route.id, idLine: route.lineVersion.id})}}" class="editRoute btn btn-default" >Supprimer</a></td>


                        </tr>


                    {%  endfor %}
                <td><a href="{{path('tisseo_boa_route_create',{idLine:id})}}" class="editRoute btn btn-default" >Créer</a></td>

                {% endblock %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent }}


  {% javascripts '@TisseoBoaBundle/Resources/public/js/route.js' %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset_url }}"></script>

    {%  endjavascripts %}

{%  endblock %}
