{% extends "TisseoBoaBundle::datatable_list.html.twig" %}
{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block list_title -%}
    {#{{ 'line.list.title'|trans({}, 'default') }} #}
    Liste des Routes de la ligne {{ line_version_name }} - 
    <a href="{{path('tisseo_boa_route_create',{idLine:id})}}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        {{'route.create'|trans({}, 'default')}}
    </a>
{% endblock %}

{% block table_head -%}
    <th>{{'route.list.columns.name'|trans({}, 'default')}}</th>
    <th>{{'route.list.columns.firstStop'|trans({}, 'default')}}</th>
    <th>{{'route.list.columns.lastStop'|trans({}, 'default')}}</th>
    <th>{{'route.list.columns.comment'|trans({}, 'default')}}</th>
    <th>{{'route.list.columns.way'|trans({}, 'default')}}</th>
    <th class="no-sort">{{'route.list.columns.actions'|trans({}, 'default')}}</th>
{% endblock %}

{% block table_body -%}
    {% if routes|length == 0 %}
        <tr>
            <td colspan="2"> {{'global.no_items'|trans}} </td><td></td><td></td><td></td><td></td><td></td>
        </tr>
    {% else %}
        {% for route in routes %}
            <tr role="row">
                <td> {{ route.name }}</td>
                <td>
                    {% if route.routeStops.first.waypoint.stop is not empty %}
                        {{ route.routeStops.first.waypoint.stop.stopArea.nameLabel }}
                    {% else %}
                        {{ route.routeStops.first.waypoint.area.name }}
                    {% endif %}
                </td>
                <td>
                    {% if route.routeStops.last.waypoint.stop is not empty %}
                        {{ route.routeStops.last.waypoint.stop.stopArea.nameLabel }}
                    {% else %}
                        {{ route.routeStops.last.waypoint.area.name }}
                    {% endif %}
                </td>
                <td> {{ route.comment }}</td>
                <td> {{ route.way }}</td>
                <td>
                    <a href=""
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>Services
                    </a>
                    <a href=""
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>Dupliquer
                    </a>
{#                    {% if route.trips is empty %}#}
                        <a href="{{path('tisseo_boa_route_edit',{RouteId: route.id})}}"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-edit"></span>Editer
                        </a>
                        <a href=""
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-edit"></span>Supprimer
                        </a>
{#                    {% endif %}#}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
