{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set datatable = true %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('tisseo_boa_line_version_list') }}">
            {{ 'menu.offer_list'|trans({}, 'messages') }}
        </a>
    </li>
{% endblock %}
{% block main_content %}
    <form method="post" action="{{ path('tisseo_boa_route_trip_calendar', {'lineVersionId': lineVersion.id}) }}">

    <div class="head-info col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{ 'trip_calendar.list.title'|trans({}, 'default') }} -
                    <button type="submit" class="btn btn-success submit-trip-calendars">
                        <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
                    </button>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="head-number">
                    {{ render.line_number(lineVersion, 'lineVersion', 'big') }}
                    <br>
                    <div>{{ lineVersion.name }}</div>
                </div>
            </div>
        </div>
    </div>

    {% for way, calendar in calendars %}
        <a id="way-{{ loop.index }}" class="header-ribbon">
            <span class="glyphicon glyphicon-list"></span> {{ 'trip_calendar.way'|trans({'%way%':way}, 'messages') }}
        </a>
        <div class="panel col-md-12">
            <table class="table datatable table-hover route-calendar">
                <thead>
                    <th class="col-md-2">{{ 'trip_calendar.grid.columns.day'|trans }}</th>
                    <th class="col-md-2">{{ 'trip_calendar.grid.columns.period'|trans }}</th>
                    <th class="col-md-2">{{ 'trip_calendar.grid.columns.nb_trips'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'trip_calendar.grid.columns.calendar_type'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'trip_calendar.grid.columns.calendar_period'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'trip_calendar.grid.columns.week_pattern'|trans }}</th>
                </thead>
                <tbody>
                {% for data in calendar %}
                    {% set routeIndex = loop.parent.loop.index ~ "_" ~ loop.index %}
                    <tr>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][route]" value="{{ data.route }}">
                            <input type="hidden" name="route[{{ routeIndex }}][dayCalendar]" value="{{ data.dayCalendar.id }}">
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': data.dayCalendar.id}) }}">{{ data.dayCalendar.name }}</a>
                        </td>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][periodCalendar]" value="{{ data.periodCalendar.id }}">
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': data.periodCalendar.id}) }}">{{ data.periodCalendar.name }}</a>
                        </td>
                        <td>
                            {% for trip in data.trips %}
                                <input type="hidden" name="route[{{ routeIndex }}][trips][{{ loop.index }}]" value="{{ trip.id }}">
                            {% endfor %}
                            <a class="btn show-trips">{{ data.trips|length }} <span class='caret'></span></a>
                        </td>
                        <td>
                            <select class="form-control" name="route[{{ routeIndex }}][calendarType]" required="required">
                                <option></option>
                                {% for calendarType in calendarTypes %}
                                    <option value="{{ calendarType }}" {% if data.tripCalendar is not empty and data.tripCalendar.gridMaskType.calendarType == calendarType %}selected{% endif %}>{{ calendarType }}</option>
                                {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="route[{{ routeIndex }}][calendarPeriod]" required="required">
                                <option></option>
                                {% for calendarPeriod in calendarPeriods %}
                                    <option value="{{ calendarPeriod }}" {% if data.tripCalendar is not empty and data.tripCalendar.gridMaskType.calendarPeriod == calendarPeriod %}selected{% endif %}>{{ calendarPeriod }}</option>
                                {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][tripCalendar]" value="{{ data.tripCalendar.id }}">
                            {% if data.tripCalendar %}
                                {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                                    <input type="hidden" value="0" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                    <input type="checkbox" value="1" name="route[{{ routeIndex }}][days][{{ loop.index }}]"{% if attribute(data.tripCalendar, day) %} checked{% endif %}>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..6 %}
                                    <input type="hidden" value="0" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                    <input type="checkbox" value="1" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success submit-trip-calendars">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
    </button>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        require(['core/datatables'], function() {
            datatable(false, '10');
        });
    </script>
    <script>
        require(['jquery'], function($) {
            $(document).ready(function() {
                $('.show-trips').on('click', function() {
                    var tr = $(this).closest('tr');
                    var row = datatables[0].row(tr);
                });
            });
        });
    </script>
{% endblock %}
