{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set datatable = true %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block main_content %}
    <h1>
        {{ 'trip_calendar.list.title'|trans({}, 'default') }}
    </h1>

    <div style="overflow: auto">

    <form method="post">
        <div style="display: table-cell;float: right;">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
            </button>
        </div>
    </div>

    <hr style="clear: both;"/>

    {% set calendarIndex = 0 %}
    {% for way, values in calendars %}
        <h4><b>{{ 'calendar_fh.way'|trans }} "{{ way }}"</b></h4>

        <table class="table datatable table-hover dataTable no-footer grid-calendar">
            <thead>
                <th>{{ 'calendar_fh.grid.columns.day'|trans }}</th>
                <th>{{ 'calendar_fh.grid.columns.period'|trans }}</th>
                <th>{{ 'calendar_fh.grid.columns.nb_trips'|trans }}</th>
                <th>{{ 'calendar_fh.grid.columns.calendar_type'|trans }}</th>
                <th>{{ 'calendar_fh.grid.columns.calendar_period'|trans }}</th>
                <th>{{ 'calendar_fh.grid.columns.circulation_days'|trans }}</th>
            </thead>
            <tbody>
            {% for calendar_names, datas in values %}
                {% set array = calendar_names|split('#') %}
                <tr name="grid_{{ way }}_{{ grid_index }}" class="grid-item">
                    <td>
                        <input type='hidden' name="grid[{{ grid_index }}][calendar_day]" value = "{{ datas['calendars']['day'].id }}">
                        <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': datas['calendars']['day'].id}) }}">
                            {{ array[0] }}
                        </a>
                    </td>
                    <td>
                        <input type='hidden' name="grid[{{ grid_index }}][calendar_period]" value = "{{ datas['calendars']['period'].id }}">
                        <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': datas['calendars']['period'].id}) }}">
                            {{ array[1] }}
                        </a>
                    </td>
                    <td>
                        <div>
                            <div style="display: table-cell; width: 20px;">
                                {{ datas['trips'] | length }}
                            </div>
                            <div style="display: table-cell">
                                <a style="margin-left: 5px;" class="btn btn-default show-trips">{{ 'calendar_fh.details'|trans }}</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if datas['objects']['grid_mask_type'] is not empty %}
                            <input type='hidden' name="grid[{{ grid_index }}][grid_calendar]" value = "{{ datas['objects']['grid_mask_type'].id }}">
                            <label>{{ datas['objects']['grid_mask_type'].calendarType }}</label>
                        {% else %}
                            {{ render.select(calendarTypes, "grid[" ~ grid_index ~ "][grid_calendar_type]", "grid_calendar_type") }}
                        {% endif %}

                    </td>
                    <td>
                        {% if datas['objects']['grid_mask_type'] is not empty %}
                            <label>{{ datas['objects']['grid_mask_type'].calendarPeriod }}</label>
                        {% else %}
                            {{ render.select(calendarPeriods, "grid[" ~ grid_index ~ "][grid_calendar_period]", "grid_calendar_period") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if datas['objects']['trip_calendar'] is not empty %}
                            <input type='hidden' name="grid[{{ grid_index }}][trip_calendar]" value = "{{ datas['objects']['trip_calendar'].id }}">
                            {{ render.TripCalendarInputs(grid_index, datas['objects']['trip_calendar']) }}
                        {% else %}
                            {{ render.TripCalendarInputs(grid_index) }}
                        {% endif %}
                    </td>
                </tr>
                <tr name="trips_{{ way }}_{{ grid_index }}" class='hide'>
                    <td colspan=6>
                        {{ render.tableTrip(datas['trips']) }}
                    </td>
                </tr>
                {% set grid_index = grid_index + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <div style="display: table-cell;float: right;">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>{{ 'global.save'|trans }}
        </button>
    </div>

    </form>

{% endblock %}

{% block javascripts %}
    <script>
        require(['core/datatables'], function() {
            datatable(false);
        });
    </script>
    <script>
        require(['boa/route/utils'], function(utils) {
            $(document).ready(function() {
                $('.show-trips').on('click', function(event) {
                    utils.calFHTripButtonClic(this, "{{ 'calendar_fh.details'|trans }}", "{{ 'calendar_fh.hide'|trans }}");
                });

                $('form').submit(function(e) {
                    return utils.calFHFormSubmit("{{ 'calendar_fh.error'|trans }}");
                });
            });
        });
    </script>
{% endblock %}
