{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set margin = '10' %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_boa_line_version_list') }}">
        {{ 'tisseo.boa.line_version.title.list'|trans }}
    </a>
{% endblock %}

{% block content %}
    <form method="post" action="{{ path('tisseo_boa_route_trip_calendar', { 'lineVersionId': lineVersion.id }) }}">
    <div class="head-info col-md-12">
        <div class="row">
            {% if calendars is not empty %}
                <button type="submit" class="btn btn-success submit-trip-calendars">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
                </button>
            {% endif %}
            <div class="col-md-12">
                <div class="head-number">
                    {{ render.line_number(lineVersion, 'lineVersion', 'big') }}
                    <br>
                    <div>{{ lineVersion.name }}</div>
                </div>
            </div>
        </div>
    </div>

    {% for way, calendar in calendars %}
        <a id="way-{{ loop.index }}" class="header-ribbon">
            <span class="glyphicon glyphicon-list"></span> {{ 'tisseo.boa.route.header.way'|trans({ '%way%': way }) }}
        </a>
        <div class="panel col-md-12">
            <table class="table datatable table-hover route-calendar">
                <thead>
                    <th class="col-md-2">{{ 'tisseo.boa.trip.label.day_calendar'|trans }}</th>
                    <th class="col-md-2">{{ 'tisseo.boa.trip.label.period_calendar'|trans }}</th>
                    <th class="col-md-2">{{ 'tisseo.boa.route.label.services'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'tisseo.boa.grid_mask_type.label.calendar_type'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'tisseo.boa.grid_mask_type.label.calendar_period'|trans }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'tisseo.boa.trip_calendar.label.week_pattern'|trans }}</th>
                </thead>
                <tbody>
                {% for data in calendar %}
                    {% set routeIndex = loop.parent.loop.index ~ "_" ~ loop.index %}
                    <tr>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][route]" value="{{ data.route }}">
                            <input type="hidden" name="route[{{ routeIndex }}][dayCalendar]" value="{{ data.dayCalendar.id }}">
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': data.dayCalendar.id}) }}">{{ data.dayCalendar.name }}</a>
                        </td>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][periodCalendar]" value="{{ data.periodCalendar.id }}">
                            <a href="{{ path('tisseo_boa_calendar_edit', {'calendarId': data.periodCalendar.id}) }}">{{ data.periodCalendar.name }}</a>
                        </td>
                        <td>
                            {% for trip in data.trips %}
                                <input type="hidden" name="route[{{ routeIndex }}][trips][{{ loop.index }}]" value="{{ trip.id }}">
                            {% endfor %}
                            <a class="btn show-trips">{{ data.trips|length }} <span class='caret'></span></a>
                        </td>
                        <td>
                            <select class="form-control" name="route[{{ routeIndex }}][calendarType]" required="required">
                                <option></option>
                                {% for calendarType in calendarTypes %}
                                    <option value="{{ calendarType }}" {% if data.tripCalendar is not empty and data.tripCalendar.gridMaskType.calendarType == calendarType %}selected{% endif %}>{{ calendarType }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="route[{{ routeIndex }}][calendarPeriod]" required="required">
                                <option></option>
                                {% for calendarPeriod in calendarPeriods %}
                                    <option value="{{ calendarPeriod }}" {% if data.tripCalendar is not empty and data.tripCalendar.gridMaskType.calendarPeriod == calendarPeriod %}selected{% endif %}>{{ calendarPeriod }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="route[{{ routeIndex }}][tripCalendar]" value="{{ data.tripCalendar.id }}">
                            {% if data.tripCalendar %}
                                {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                                    <input type="hidden" value="0" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                    <input type="checkbox" value="1" name="route[{{ routeIndex }}][days][{{ loop.index }}]"{% if attribute(data.tripCalendar, day) %} checked{% endif %}>
                                {% endfor %}
                            {% else %}
                                {% for i in 0..6 %}
                                    <input type="hidden" value="0" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                    <input type="checkbox" value="1" name="route[{{ routeIndex }}][days][{{ loop.index }}]">
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ 'tisseo.boa.line_version.message.no_route'|trans }}
    {% endfor %}

    {% if calendars is not empty %}
    <button type="submit" class="btn btn-success submit-trip-calendars">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
    {% endif %}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['jquery'], function($) {
            $(document).ready(function() {
                $('.show-trips').on('click', function() {
                    var tr = $(this).closest('tr');
                    var row = datatables[0].row(tr);
                });
            });
        });
    </script>
{% endblock %}
