<div id="route-stops-list" class="panel col-md-12">
    <input type="hidden" id="route-id" value="{{ route.id }}"></input>
    <table id="table-route-stops" class="table table-hover sort">
        <thead>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.rank'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.city'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.stop'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.datasource.label.code'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.pick_up'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.drop_off'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.scheduled'|trans }}</th>
            {% if route.way == constant('WAY_AREA', route) %}
                <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.internal_service'|trans }}</th>
                <th class="col-md-1">{{ 'tisseo.global.actions'|trans }}</th>
            {% else %}
                <th class="col-md-3">{{ 'tisseo.global.actions'|trans }}</th>
            {% endif %}
        </thead>
        <tbody>
        {% set rank = 1 %}
        {% for routeStop in route.routeStops %}
            <tr class="route-stop">
                <input type='hidden' class="route-stop-id" name="id" value="{{ routeStop.id }}">
                <td class="route-stop-rank">{{ routeStop.rank }}</td>
                <td>{% if not routeStop.isOdtAreaRouteStop %}{{ routeStop.waypoint.stop.stopArea.city.name }}{% endif %}</td>
                <td>{% if routeStop.isOdtAreaRouteStop %}{{ routeStop.waypoint.odtArea.name }}{% else %}{{ routeStop.waypoint.stop.stopArea.shortName }}{% endif %}</td>
                <td>
                    {% if routeStop.isOdtAreaRouteStop %}
                        {{ 'tisseo.boa.route_stop.label.zone'|trans }}
                    {% else %}
                        {% for datasource in routeStop.waypoint.stop.stopDatasources %}
                            {{ datasource.code }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td><input type='checkbox' class="pickup" name="pickup" {% if routeStop.pickup %}checked="checked"{% endif %}></td>
                <td><input type='checkbox' class="dropOff" name="dropOff" {% if routeStop.dropOff %}checked="checked"{% endif %}></td>
                <td><input type='checkbox' class="scheduledStop" name="scheduledStop" {% if routeStop.scheduledStop %}checked="checked"{% endif %}></td>
                {% if route.way == constant('WAY_AREA', route) %}
                    {% if routeStop.isOdtAreaRouteStop %}
                        <td><input type='checkbox' class="internalService" name="internalService" {% if routeStop.internalService %}checked="checked"{% endif %}></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endif %}
                <td>
                    <button class="btn btn-xs btn-danger small-button delete-route-stop"><span class="glyphicon glyphicon-minus"></span></button>
                    <input type='hidden' name="waypoint" value="{{ routeStop.waypoint.id }}">
                    <input type="hidden" class="route-stop-rank" name="rank" value="{{ routeStop.rank }}">
                </td>
            </tr>
            {% if loop.last %}
                {% set rank = routeStop.rank + 1 %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tbody>
            <tr class="new-route-stop">
                {{ render(controller('TisseoBoaBundle:RouteStop:renderForm', {'routeId': route.id, 'rank': rank})) }}
            </tr>
        </tbody>
    </table>
    <br>
    <button id="submit-route-stops" type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
</div>
