<div class="panel col-md-12">
    <table id="route-stops-list" class="table table-hover datatable">
        <thead>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.rank'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.city'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.stop'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.code'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.pick_up'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.drop_off'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.scheduled'|trans }}</th>
            {% if route.way == constant('WAY_AREA', route) %}
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.internal_service'|trans }}</th>
            {% endif %}
        </thead>
        <tbody>
        {% for routeStop in route.routeStops %}
            <tr class="route-stop">
                <td class="route-stop-rank">{{ routeStop.rank }}</td>
                <td>{{ routeStop.waypoint.stop.stopArea.city.name }}</td>
                <td>{{ routeStop.waypoint.stop.stopArea.shortName }}</td>
                <td>
                {% for datasource in routeStop.waypoint.stop.stopDatasources %}
                    {{ datasource.code }}
                {% endfor %}
                </td>
                <td><input type='checkbox' class="pickup" name="pickup" {% if routeStop.pickup %}checked="checked"{% endif %} disabled="disabled"></td>
                <td><input type='checkbox' class="dropOff" name="dropOff" {% if routeStop.dropOff %}checked="checked"{% endif %} disabled="disabled"></td>
                <td><input type='checkbox' class="scheduledStop" name="scheduledStop" {% if routeStop.scheduledStop %}checked="checked"{% endif %} disabled="disabled"></td>
                {% if route.way == constant('WAY_AREA', route) %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
