<div class="panel col-md-12">
    <table id="route-stops-list" class="table table-hover datatable">
        <thead>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.rank'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.city'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.stop'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.code'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.pick_up'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.drop_off'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.scheduled'|trans }}</th>
            {% if route.way == constant('WAY_AREA', route) %}
                <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.internal_service'|trans }}</th>
            {% endif %}
        </thead>
        <tbody>
            {% for routeStop in route.routeStops %}
                <tr class="route-stop">
                    <td class="route-stop-rank">{{ routeStop.rank }}</td>
                    <td>{% if not routeStop.isOdtAreaRouteStop %}{{ routeStop.waypoint.stop.stopArea.city.name }}{% endif %}</td>
                    <td>{% if routeStop.isOdtAreaRouteStop %}{{ routeStop.waypoint.odtArea.name }}{% else %}{{ routeStop.waypoint.stop.stopArea.shortName }}{% endif %}</td>
                    <td>
                        {% if routeStop.isOdtAreaRouteStop %}
                            {{ 'tisseo.boa.route_stop.label.zone'|trans }}
                        {% else %}
                            {% for datasource in routeStop.waypoint.stop.stopDatasources %}
                                {{ datasource.code }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td><input type='checkbox' class="pickup" name="pickup" disabled="disabled" {% if routeStop.pickup %}checked="checked"{% endif %}></td>
                    <td><input type='checkbox' class="dropOff" name="dropOff" disabled="disabled" {% if routeStop.dropOff %}checked="checked"{% endif %}></td>
                    <td><input type='checkbox' class="scheduledStop" name="scheduledStop" disabled="disabled" {% if routeStop.scheduledStop %}checked="checked"{% endif %}></td>
                    {% if route.way == constant('WAY_AREA', route) %}
                        {% if routeStop.isOdtAreaRouteStop %}
                            <td><input type='checkbox' class="internalService" name="internalService" disabled="disabled"  {% if routeStop.internalService %}checked="checked"{% endif %}></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
