<div class="panel col-md-12">
    <table id="route-stops-list" class="table table-hover datatable">
        <thead>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.rank'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.city'|trans }}</th>
            <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.stop'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.code'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.pick_up'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.drop_off'|trans }}</th>
            <th class="col-md-1">{{ 'tisseo.boa.route_stop.label.scheduled'|trans }}</th>
            {% if route.way == constant('WAY_AREA', route) %}
                <th class="col-md-2">{{ 'tisseo.boa.route_stop.label.internal_service'|trans }}</th>
            {% endif %}
        </thead>
        <tbody>
            {% for routeStop in route.routeStops %}
                <tr class="route-stop">
                    <td class="route-stop-rank">{{ routeStop.rank }}</td>
                    <td>
                        {% if not routeStop.isOdtAreaRouteStop %}
                            <a target="_blank" href="{{ path('tisseo_boa_city_edit', {'cityId': routeStop.waypoint.stop.stopArea.city.id}) }}">
                                {{ routeStop.waypoint.stop.stopArea.city.name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if routeStop.isOdtAreaRouteStop %}
                            <a target="_blank" href="{{ path('tisseo_boa_odt_area_edit', {'odtAreaId': routeStop.waypoint.odtArea.id}) }}">
                                {{ routeStop.waypoint.odtArea.name }}
                            </a>
                        {% else %}
                            <a target="_blank" href="{{ path('tisseo_boa_stop_area_edit', {'stopAreaId': routeStop.waypoint.stop.stopArea.id}) }}">
                                {{ routeStop.waypoint.stop.stopArea.shortName }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if routeStop.isOdtAreaRouteStop %}
                            {{ 'tisseo.boa.route_stop.label.zone'|trans }}
                        {% else %}
                            {% set stop = routeStop.waypoint.stop %}
                            {% set stopId = ((stop.masterStop is empty) ? stop.id : stop.masterStop.id) %}
                            {% for datasource in stop.stopDatasources %}
                                <a target="_blank" href="{{ path('tisseo_boa_stop_edit', {'stopId': stopId}) }}">
                                    {{ datasource.code }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td><input type='checkbox' class="pickup" name="pickup" disabled="disabled" {% if routeStop.pickup %}checked="checked"{% endif %}></td>
                    <td><input type='checkbox' class="dropOff" name="dropOff" disabled="disabled" {% if routeStop.dropOff %}checked="checked"{% endif %}></td>
                    <td><input type='checkbox' class="scheduledStop" name="scheduledStop" disabled="disabled" {% if routeStop.scheduledStop %}checked="checked"{% endif %}></td>
                    {% if route.way == constant('WAY_AREA', route) %}
                        {% if routeStop.isOdtAreaRouteStop %}
                            <td><input type='checkbox' class="internalService" name="internalService" disabled="disabled"  {% if routeStop.internalService %}checked="checked"{% endif %}></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
