<div class="panel col-md-12">
    <table id="route-stops-list" class="table table-hover datatable">
        <thead>
            <th class="col-md-1">{{ 'route_stop.list.columns.rank'|trans({}, 'default') }}</th>
            <th class="col-md-2">{{ 'route_stop.list.columns.city'|trans({}, 'default') }}</th>
            <th class="col-md-2">{{ 'route_stop.list.columns.name'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'route_stop.list.columns.code'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'route_stop.list.columns.pick_up'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'route_stop.list.columns.drop_off'|trans({}, 'default') }}</th>
            <th class="col-md-1">{{ 'route_stop.list.columns.scheduled'|trans({}, 'default') }}</th>
            <th class="col-md-2">{{ 'route_stop.list.columns.internal_service'|trans({}, 'default') }}</th>
        </thead>
        <tbody>
        {% for routeStop in route.routeStops %}
            <tr class="route-stop">
                <td class="route-stop-rank">{{ routeStop.rank }}</td>
                <td>{{ routeStop.waypoint.stop.stopArea.city.name }}</td>
                <td>{{ routeStop.waypoint.stop.stopArea.shortName }}</td>
                <td>
                {% for datasource in routeStop.waypoint.stop.stopDatasources %}
                    {{ datasource.code }}
                {% endfor %}
                </td>
                <td><input type='checkbox' class="pickup" name="pickup" {% if routeStop.pickup %}checked="checked"{% endif %} disabled="disabled"></td>
                <td><input type='checkbox' class="dropOff" name="dropOff" {% if routeStop.dropOff %}checked="checked"{% endif %} disabled="disabled"></td>
                <td><input type='checkbox' class="scheduledStop" name="scheduledStop" {% if routeStop.scheduledStop %}checked="checked"{% endif %} disabled="disabled"></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
