{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set datatable = true %}

{% block list_title -%}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-2 col-sm-4 ">
            {{ form_row(form.line) }}
        </div>
        <div class="col-md-4 col-sm-4">
            {{ form_row(form.offer) }}
        </div>
        <div class="col-md-6 col-sm-4">
            <div class="boa-inline-button">
            <input type="submit"
                   class="btn btn-default btn-submit ajax_dep_element"
                   value=" {{ 'tisseo.boa.monitoring.offer_by_line.label.view' | trans }}" />
            {% image '@TisseoCoreBundle/Resources/public/images/ajax-loader.gif' %}
            <img src="{{  asset_url }}" id="loading-indicator" style="display: none;" />
            {% endimage %}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    {% if results %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stats">
                <thead>
                    <th scope="col" class="col-md-2" colspan="2">
                        <div class="checkbox">
                            <label for="ckb-route-all">
                                <input type="checkbox" id="ckb-route-all" checked> {{ 'tisseo.boa.monitoring.offer_by_line.label.select_all' | trans }}
                            </label>
                        </div>
                    </th>
                    <th scope="col" class="col-md-1">{{ 'tisseo.boa.monitoring.offer_by_line.label.name' | trans }}</th>
                    <th scope="col" class="col-md-3">{{ 'tisseo.boa.monitoring.offer_by_line.label.departure' | trans }}</th>
                    <th scope="col" class="col-md-3">{{ 'tisseo.boa.monitoring.offer_by_line.label.arrival' | trans }}</th>
                    <th scope="col" class="col-md-1 label-control text-center month_year">
                        <div>
                            {{'tisseo.boa.monitoring.month_year' | trans}}
                        </div>
                        <a href="#" class="previous round" data-value="">&#8249;</a>
                        <a href="#" class="next round" data-value="">&#8250;</a>
                    </th>
                    <th scope="col" class="col-md-1 label-control text-center day">
                        <div>
                            {{'tisseo.boa.monitoring.day' | trans}}
                        </div>
                        <a href="#" class="previous round" data-value="">&#8249;</a>
                        <a href="#" class="next round" data-value="">&#8250;</a>
                    </th>
                </thead>
                <tbody class="routes">

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            {% image '@TisseoCoreBundle/Resources/public/images/ajax-loader.gif' %}
                            <img src="{{  asset_url }}" id="loading-indicator-graph" style="display: none;" />
                            {% endimage %}
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <div class="row">
        <div id="monthGraph" class="col-md-6 chart">
            <canvas id="chart_month"></canvas>
        </div>

        <div id="dayGraph" class="col-md-6 chart">
            <canvas id="chart_hour"></canvas>
        </div>
    </div>
    {% endif %}

    <!-- Template used by js function.
    :var: are replaced by the function.
    This template is used for display the routes.
    -->
    <table class="boa-js-template" role="template">
        <tr class="model">
            <th scope="row">
                <input type="checkbox" class="ckb-route ckb-route-:index:"
                       value=":result:"
                       :checked:
                />
            </th>
            <th scope="color">
                <div class="input-group colorpicker-component color-picker" title="Using input value">
                    <input type="text" class="form-control"
                           value=":color_value:"
                           data-route=":route_id:"
                           data-index=":index:"
                           data-trips=":trips:"
                           data-trip_month=":trips_month:"
                    />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </th>
            <td>:route_name:</td>
            <td>:route_start:</td>
            <td>:route_end:</td>
            <td>:route_number_month:</td>
            <td>:route_number:</td>
        <tr>
    </table>
    <!-- End template -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        require(['boa/monitoring/offer/search'], function(search) {
                search.init({
                  'results' : {% if results %}{{ results|raw }}{% else %}''{% endif %},
                  'strNoResult': '{{ 'tisseo.boa.monitoring.offer_by_line.message.no_result'|trans }}',
                  'defaultColors': '{{ defaultColors|raw }}'
                });
        });
    </script>
{% endblock %}