{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}
{% set smoothness = true %}
{% set datatable = true %}

{% block list_title -%}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-2 col-sm-4 ">
            {{ form_widget(form.month.day, {'attr': {'class': 'hide'}}) }}
            {{ form_row(form.month) }}
        </div>
        <div class="col-md-4 col-sm-4">
            {{ form_row(form.offer) }}
        </div>
        <div class="col-md-6 col-sm-4">
            <div class="boa-inline-button">
            <button type="submit" class="btn btn-default btn-submit ajax_dep_element">
                {{ 'tisseo.boa.monitoring.offer_by_line.label.view' | trans }}
            </button>
            {% image '@TisseoCoreBundle/Resources/public/images/ajax-loader.gif' %}
            <img src="{{  asset_url }}" id="loading-indicator" style="display: none;" />
            {% endimage %}
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    {% if results %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stats">
                <thead>
                    <th scope="col" class="col-md-2" colspan="2">#</th>
                    <th scope="col" class="col-md-1">{{ 'tisseo.boa.monitoring.offer_by_line.label.name' | trans }}</th>
                    <th scope="col" class="col-md-3">{{ 'tisseo.boa.monitoring.offer_by_line.label.departure' | trans }}</th>
                    <th scope="col" class="col-md-3">{{ 'tisseo.boa.monitoring.offer_by_line.label.arrival' | trans }}</th>
                    <th scope="col" class="col-md-1 label-control">
                        <a href="#" class="previous round">&#8249;</a>month-year<a href="#" class="next round">&#8250;</a>
                    </th>
                    <th scope="col" class="col-md-1 label-control">
                        <a href="#" class="previous round">&#8249;</a>jour<a href="#" class="next round">&#8250;</a>
                    </th>
                    <th scope="col" class="col-md-1 label-control">
                        <a href="#" class="previous round">&#8249;</a>heure<a href="#" class="next round">&#8250;</a>
                    </th>
                </thead>
                <tbody>
                {%  for result in results %}
                    <tr>
                        <th scope="row"><input type="checkbox" class="ckb-route" value="{{ result|json_encode() }}" /></th>
                        <th scope="color">
                            <div class="input-group colorpicker-component color-picker" title="Using input value">
                                <input type="text" class="form-control" value="#DD0F20" data-route="{{ result.name }}" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </th>
                        <td>{{ result.name }}</td>
                        <td>{{ result.departure }}</td>
                        <td>{{ result.arrival }}</td>
                        <td>{{ result.month }}</td>
                        <td>{{ result.day }}</td>
                        <td>{{ result.hour }}</td>
                    <tr>
                {% if loop.last %}
                <tfoot>
                    <td colspan="8">
                        <button class="btn btn-default generate-graph">{{ 'graph'|trans }}</button>
                    </td>
                </tfoot>
                {% endif %}
                {% else %}
                <tr>
                    <td colspan="7">{{ 'no_result'|trans }}</td>
                <tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="chart_month"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="chart_day"></canvas>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
    <script type="text/javascript">
        require(['boa/monitoring/offer/search']);
        require(['boa/monitoring/offer/graph']);
    </script>
{% endblock %}