{% extends "TisseoBoaBundle::datatable_list.html.twig" %}

{% import "TisseoBoaBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{'physical_mode.list.title'|trans({}, 'default')}}
	-
	<a href="{{ path('tisseo_boa_physical_mode_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
		<span class="glyphicon glyphicon-plus"></span> {{'physical_mode.create'|trans({}, 'default')}}
	</a>
{% endblock %}

{% block table_head -%}
    <th>{{'physical_mode.list.columns.name'|trans({}, 'default')}}</th>
    <th>{{'physical_mode.list.columns.type'|trans({}, 'default')}}</th>
	<th class="no-sort">{{'global.actions'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% if physical_modes|length == 0 %}
        <tr>
            <td colspan="3"> {{'global.no_items'|trans}} </td>
        </tr>
    {% else %}
        {% for physical_mode in physical_modes %}
            <tr>
                <td> {{ physical_mode.name }} </td>
                <td> {{ physical_mode.type }} </td>
                <td>
					<a class="btn btn-default" href="{{ path('tisseo_boa_physical_mode_edit', {'PhysicalModeId': physical_mode.id}) }}" data-toggle="modal" data-target="#base-modal">
						<span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
					</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
