{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoBoaBundle' %}

{% block list_title -%}
    {{ 'physical_mode.list.title'|trans({}, 'default') }}
    {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
        -
        <a href="{{ path('tisseo_boa_physical_mode_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'physical_mode.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-5">{{ 'physical_mode.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-sm-5">{{ 'physical_mode.list.columns.type'|trans({}, 'default') }}</th>
    <th class="col-sm-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for physical_mode in physical_modes %}
        <tr>
            <td>{{ physical_mode.name }}</td>
            <td>{{ physical_mode.type }}</td>
            <td>
            {% if (is_granted('BUSINESS_MANAGE_CONFIGURATION')) %}
                <a class="btn btn-default" href="{{ path('tisseo_boa_physical_mode_edit', {'physicalModeId': physical_mode.id}) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
                </a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
